openapi: 3.2.0
info:
  title: Certificate Manager - SaaS Application API
  version: '1.0'
servers:
- description: US Region
  url: https://api.venafi.cloud
- description: EU Region
  url: https://api.eu.venafi.cloud
- description: AU Region
  url: https://api.au.venafi.cloud
- description: UK Region
  url: https://api.uk.venafi.cloud
- description: SG Region
  url: https://api.sg.venafi.cloud
- description: CA Region
  url: https://api.ca.venafi.cloud
tags:
- name: Application
paths:
  /outagedetection/v1/applications:
    get:
      description: Returns the details of applications matching the below provided criteria.
      operationId: applications_getAll
      parameters:
      - description: Indicates whether or not the response should include the `owningUsers` and `owningTeams` details.
        in: query
        name: ownerDetails
        schema:
          default: false
          type: boolean
      - description: Indicates whether or not the response should exclude applications that are not editable by the current user.
        in: query
        name: ownershipCheck
        schema:
          default: false
          type: boolean
      - description: Indicates whether or not the response should exclude applications with no issuing templates assigned to them.
        in: query
        name: issuingTemplateAssigned
        schema:
          default: false
          type: boolean
      - description: This parameter is deprecated for Application endpoints.
        in: query
        name: ownershipTree
        schema:
          default: false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
          description: Details of applications in response body.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      security:
      - tppl-api-key: []
      summary: Get the details of applications
      tags:
      - Application
    post:
      description: Creates an application.
      operationId: applications_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
          description: Application was created; details in response body.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Application already exists.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      security:
      - tppl-api-key: []
      summary: Add an application
      tags:
      - Application
  /outagedetection/v1/applications/{id}:
    get:
      description: Retrieves the details of the application that has the specified `id`.
      operationId: applications_getById
      parameters:
      - description: UUID of an Application.
        in: path
        name: id
        required: true
        schema:
          description: UUID of an Application.
          format: uuid
          type: string
      - description: Indicates whether response should include nested ownership data (e.g., `owningContainers`).
        in: query
        name: ownershipTree
        schema:
          default: false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInformation'
          description: Application Information
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Request Conditions Failed.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Application not found.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Request Conditions Failed.
      security:
      - tppl-api-key: []
      summary: Get an application's details
      tags:
      - Application
    put:
      description: Updates (replaces) all details of the application that has the specified `id`.
      operationId: applications_update
      parameters:
      - description: UUID of an Application.
        in: path
        name: id
        required: true
        schema:
          description: UUID of an Application.
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInformation'
          description: ' Application was updated; details in response body'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Application not found.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      security:
      - tppl-api-key: []
      summary: Update an application's details
      tags:
      - Application
    delete:
      description: Deletes the application that has the specified `id`.
      operationId: applications_delete
      parameters:
      - description: UUID of an Application.
        in: path
        name: id
        required: true
        schema:
          description: UUID of an Application.
          format: uuid
          type: string
      responses:
        '200':
          description: Application was deleted.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Application not found.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      security:
      - tppl-api-key: []
      summary: Remove an application
      tags:
      - Application
  /outagedetection/v1/applications/{id}/invitations:
    post:
      description: Activates a URL that invites new users to become owners of the application with the specified `id`. The invitation link remains valid for 10 minutes.
      operationId: applications_invitations_create
      parameters:
      - description: UUID of an Application.
        in: path
        name: id
        required: true
        schema:
          description: UUID of an Application.
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationResponse'
          description: If successful, this operation returns a User Invitation link in the response body.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      security:
      - tppl-api-key: []
      summary: Creates an invitation link for an application
      tags:
      - Application
  /outagedetection/v1/applications/{id}/scanaficonfiguration:
    get:
      description: Retrieves the *Basic Discovery* (Scanafi) configuration for the application that has the specified `id`.
      operationId: applications_getScanafiConfigById
      parameters:
      - description: UUID of an Application.
        in: path
        name: id
        required: true
        schema:
          description: UUID of an Application.
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanafiConfigResponseV1'
          description: Basic Discovery configuration in response body.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Application not found.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      security:
      - tppl-api-key: []
      summary: Get the Basic Discovery configuration for an application
      tags:
      - Application
  /outagedetection/v1/applications/{name}/certificateissuingtemplates/{alias}:
    get:
      description: Retrieves the details of the certificate issuing template identified by the specified `alias` assigned to the application that has the specified `name`.
      operationId: certificateissuingtemplates_getByAlias
      parameters:
      - description: Name of an Application.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Alias of an Issuing Template for the specified Application.
        in: path
        name: alias
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateIssuingTemplateInformation1'
          description: Issuing Template was found; details in response body.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Issuing Template not found.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      security:
      - tppl-api-key: []
      summary: Get the details of an issuing template by its alias
      tags:
      - Application
  /outagedetection/v1/applications/certificates:
    patch:
      description: Update one or more application assignments for one or more certificates. Valid actions are ADD, REPLACE and DELETE.
      operationId: applications_assignToCertificates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationsAssignRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsAssignResponse'
          description: Certificate application assignments were updated; details in response body.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      security:
      - tppl-api-key: []
      summary: Manage application assignments for a set of certificates
      tags:
      - Application
  /outagedetection/v1/applications/name/{name}:
    get:
      description: Retrieves the details of the application that has the specified `name`.
      operationId: applications_getByName
      parameters:
      - description: Name of an Application.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Indicates whether response should include nested ownership data (e.g., `owningContainers`).
        in: query
        name: ownershipTree
        schema:
          default: false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInformation'
          description: Application was found; details in response body.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Application not found.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      security:
      - tppl-api-key: []
      summary: Get an application's details by its name
      tags:
      - Application
components:
  schemas:
    ErrorResponse4:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorInformation3'
          type: array
      type: object
    ApplicationsAssignRequest:
      properties:
        action:
          enum:
          - REPLACE
          - ADD
          - DELETE
          - DELETE_ALL
          type: string
        certificateIds:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        targetedApplicationIds:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
      required:
      - action
      - certificateIds
      - targetedApplicationIds
      type: object
    CertificateAuthorityProductInformation1:
      properties:
        certificateType:
          enum:
          - OTHER
          - DOMAIN_VALIDATED_SSL
          type: string
        hashAlgorithm:
          enum:
          - MD5
          - SHA1
          - MD2
          - SHA224
          - SHA256
          - SHA384
          - SHA512
          - UNKNOWN
          - GOSTR3411_94
          type: string
        productName:
          type: string
        productTypes:
          items:
            enum:
            - SSL
            - CODESIGN
            type: string
          type: array
        validityPeriod:
          description: ISO8601 Period Format
          example: PnYnMnDTnHnMnS
          type: string
      type: object
    AnyValue3:
      description: Can be any value - string, number, boolean, array or object.
    ServiceAccountInformation:
      properties:
        applications:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        applicationsAdded:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        applicationsRemoved:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        authType:
          type: string
        authenticationType:
          type: string
        companyId:
          format: uuid
          type: string
        enabled:
          type: boolean
        id:
          format: uuid
          type: string
        name:
          type: string
        owner:
          format: uuid
          type: string
        ownership:
          additionalProperties:
            items:
              format: uuid
              type: string
            type: array
            uniqueItems: true
          type: object
        roles:
          items:
            type: string
          type: array
          uniqueItems: true
        scopes:
          items:
            type: string
          type: array
          uniqueItems: true
        serviceAccount:
          type: boolean
        tenantId:
          format: uuid
          type: string
        userAccount:
          type: boolean
      type: object
    ApplicationInformation:
      properties:
        certificateIssuingTemplateAliasIdMap:
          additionalProperties:
            format: uuid
            type: string
          type: object
        companyId:
          format: uuid
          type: string
        creationDate:
          format: date-time
          type: string
        description:
          type: string
        fullyQualifiedDomainNames:
          items:
            type: string
          type: array
          uniqueItems: true
        id:
          format: uuid
          type: string
        ipRanges:
          items:
            type: string
          type: array
          uniqueItems: true
        modificationDate:
          format: date-time
          type: string
        name:
          type: string
        ownerIdsAndTypes:
          items:
            $ref: '#/components/schemas/OwnerIdAndType'
          type: array
        ownership:
          $ref: '#/components/schemas/ApplicationOwnership'
        owningServiceAccounts:
          items:
            $ref: '#/components/schemas/ServiceAccountInformation'
          type: array
        owningTeams:
          items:
            $ref: '#/components/schemas/TeamInformation1'
          type: array
        owningUsers:
          items:
            $ref: '#/components/schemas/UserInformation1'
          type: array
        ports:
          items:
            type: string
          type: array
          uniqueItems: true
      type: object
    ErrorInformation3:
      properties:
        args:
          items:
            $ref: '#/components/schemas/AnyValue3'
          type: array
        code:
          format: int32
          type: integer
        message:
          type: string
      type: object
    ProviderConfigInformation:
      properties:
        api_key:
          type: string
        endpoint:
          type: string
      type: object
    MetadataInformation:
      properties:
        companyId:
          format: uuid
          type: string
        productEntitlement:
          enum:
          - ANY
          - MIRA
          - DEVOPS
          - OUTAGE_DETECTION
          - CODESIGN
          type: string
      type: object
    ExtendedApplicationOwnership:
      properties:
        id:
          format: uuid
          type: string
        owningTeams:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        owningUsers:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        type:
          type: string
      type: object
    KeyTypeInformation1:
      discriminator:
        propertyName: keyType
      properties:
        keyType:
          type: string
      type: object
    CertificateOwnership:
      properties:
        owningContainers:
          items:
            $ref: '#/components/schemas/ExtendedApplicationOwnership'
          type: array
          uniqueItems: true
      type: object
    CertificateInformation:
      properties:
        applicationIds:
          description: A collection of application IDs
          example:
          - 561baf7c-98b7-49af-ab9c-7b3a9fea3028
          - 4adeba6f-0c94-4595-a5b6-babea458249f
          items:
            format: uuid
            type: string
          type: array
        archivedDate:
          description: The date a certificate was archived
          example: '2022-05-24T09:12:28Z'
          format: date-time
          type: string
        authorityKeyIdentifierHash:
          description: An authority key identifier hash
          example: 40572B10F85DDAF18BFF987372178532AB875BCA
          type: string
        certificateAuthorityAccountId:
          description: UUID  of a certificate authority account
          format: uuid
          type: string
        certificateName:
          description: A certificate name
          example: venafi.com
          type: string
        certificateRequestId:
          description: UUID  of a certificate request
          example: 2e8964a0-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        certificateStatus:
          description: Certificate's status
          enum:
          - ACTIVE
          - RETIRED
          - DELETED
          example: ACTIVE
          type: string
        companyId:
          description: UUID  of a company
          example: 85595df0-8e14-11ed-87e3-755db050f29d
          format: uuid
          type: string
        dekHash:
          description: A certificate dek hash
          example: RaBDrLmQ69hACXOrPU6542RBT-M-yZOkw4XKsT-r55i=
          type: string
        encryptionType:
          description: A certificate encryption type
          enum:
          - RSA
          - DSA
          - EC
          - GOST3410
          - ECGOST3410
          - RESERVED3
          - UNKNOWN
          example: EC
          type: string
        extendedKeyUsage:
          description: A collection of certificate extended key usages
          example:
          - 1.3.6.1.5.5.7.3.2
          - 1.3.6.1.5.5.7.3.1
          items:
            type: string
          type: array
        fingerprint:
          description: A certificate fingerprint
          example: 6D4C95512C117B004191F1A096ECAD13242FCD9F
          type: string
        id:
          description: UUID of a certificate
          example: 2eb29780-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        inhibitAnyPolicy:
          description: Inhibit any policy
          example: 150
          format: int32
          type: integer
        inhibitPolicyMapping:
          description: Inhibit policy mapping
          example: 200
          format: int32
          type: integer
        instances:
          description: A collection of certificate instances information
          example:
          - certificateId: 7ec12010-9051-11ed-8e50-b994b27d2ece
            certificateInstanceId: 7ec1bc50-9051-11ed-8e50-b994b27d2ece
            certificateSource: USER_SCAN
            deploymentStatus: IN_USE
            hostname: venafi.com
            instanceChainValidationStatus:
            - OK
            ipAddress: 23.185.0.2
            lastScanDate: '2023-01-09T19:12:05.314+00:00'
            lastValidatedAttempt: '2023-01-09T19:12:05.446+00:00'
            modificationDate: '2023-01-09T19:12:14.865+00:00'
            port: 443
            serviceIds:
            - 1d61e9e0-9046-11ed-bf12-53a1b041cf25
            sslProtocols:
            - TLSv1.3
            - TLSv1.2
            sslValidationErrorArguments: []
            sslValidationStatus: OK
          items:
            $ref: '#/components/schemas/CertificateInstanceInformation'
          type: array
        issuerAlternativeNameDns:
          description: A collection of certificate issuer alternative names DNs
          example:
          - venafi.com
          - www.venafi.com
          items:
            type: string
          type: array
        issuerAlternativeNameNonDns:
          description: A collection of certificate issuer alternative name none DNs
          example:
          - venafi issuer doman
          items:
            type: string
          type: array
        issuerC:
          description: A certificate issues Country
          example: US
          type: string
        issuerCN:
          description: A collection of certificate issuer Common names
          example:
          - HydrantID SSL CA G3
          items:
            type: string
          type: array
        issuerCertificateIds:
          description: A collection of issuer certificate IDs
          example:
          - 2e8964a0-9046-11ed-8e50-b994b27d2ece
          - d5b418a0-297e-11eb-bc4c-8b24e5a66fb6
          items:
            format: uuid
            type: string
          type: array
        issuerDN:
          description: A certificate issue DN
          example: cn=HydrantID SSL CA G3,o=HydrantID (Avalanche Cloud Corporation),c=US
          type: string
        issuerL:
          description: A certificate issues Locality
          example: Salt Lake City
          type: string
        issuerOU:
          description: A collection of certificate issuer Organization units
          example:
          - Issuer CA
          items:
            type: string
          type: array
        issuerST:
          description: A certificate issuer State
          example: Utah
          type: string
        keyCurve:
          description: A certificate key curve
          enum:
          - P256
          - P384
          - P521
          - ED25519
          - UNKNOWN
          example: P256
          type: string
        keyStrength:
          description: A certificate key strength
          example: 2048
          format: int32
          type: integer
        keyUsage:
          description: A collection of certificate key usages
          example:
          - digitalSignature
          - keyEncipherment
          items:
            type: string
          type: array
        lastNotification:
          format: int32
          type: integer
        managedCertificateId:
          description: UUID  of a managed certificate
          example: 2f0e7320-9046-11ed-8ab8-19e0a618d9cd
          format: uuid
          type: string
        modificationDate:
          description: The last date a certificate was modified
          example: '2022-03-24T09:12:28Z'
          format: date-time
          type: string
        ocspNoCheck:
          description: If a certificate no ocsp check
          example: false
          type: boolean
        ownership:
          $ref: '#/components/schemas/CertificateOwnership'
        pathLength:
          description: A certificate path length
          example: 3
          format: int32
          type: integer
        requireExplicitPolicy:
          description: Required explicit policy is required
          example: 1
          format: int32
          type: integer
        selfSigned:
          description: If the certificate is self singed
          example: true
          type: boolean
        serialNumber:
          description: A certificate serial number
          example: 0C51A562B02A19A222FFB4730C47A8E2
          type: string
        signatureAlgorithm:
          description: A certificate signature algorithm
          enum:
          - MD2_WITH_RSA_ENCRYPTION
          - MD5_WITH_RSA_ENCRYPTION
          - SHA1_WITH_RSA_ENCRYPTION
          - SHA1_WITH_RSA_ENCRYPTION2
          - SHA256_WITH_RSA_ENCRYPTION
          - SHA384_WITH_RSA_ENCRYPTION
          - SHA512_WITH_RSA_ENCRYPTION
          - ID_DSA_WITH_SHA1
          - dsaWithSHA1
          - EC_DSA_WITH_SHA1
          - EC_DSA_WITH_SHA224
          - EC_DSA_WITH_SHA256
          - EC_DSA_WITH_SHA384
          - EC_DSA_WITH_SHA512
          - UNKNOWN
          - SHA1_WITH_RSAandMGF1
          - GOST_R3411_94_WITH_GOST_R3410_2001
          - GOST_R3411_94_WITH_GOST_R3410_94
          example: SHA256_WITH_RSA_ENCRYPTION
          type: string
        signatureHashAlgorithm:
          description: A certificate signature hash algorithm
          enum:
          - MD5
          - SHA1
          - MD2
          - SHA224
          - SHA256
          - SHA384
          - SHA512
          - UNKNOWN
          - GOSTR3411_94
          example: SHA256
          type: string
        statusModificationDate:
          description: The date a certificate's status was modified
          example: '2022-04-24T09:12:28Z'
          format: date-time
          type: string
        statusModificationUserId:
          description: UUID of the user that modified the certificate installation
          example: 3c9964a0-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        subjectAlternativeNameDns:
          description: A collection of certificate subject alternative names DNs
          example:
          - venafi.com
          - www.venafi.com
          items:
            type: string
          type: array
        subjectAlternativeNameNonDns:
          description: A collection of certificate subject alternative name none DNs
          example:
          - venafi domain
          items:
            type: string
          type: array
        subjectAlternativeNamesByType:
          $ref: '#/components/schemas/GeneralNamesData1'
        subjectC:
          description: A certificate subject Country
          example: US
          type: string
        subjectCN:
          description: A collection of certificate subject CNs
          example:
          - venafi.com
          - cloud.venafi
          items:
            type: string
          type: array
        subjectDN:
          description: A certificate subject DN
          example: cn=www.venafi.com,o=Venafi, Inc.,c=US,st=Utah,l=Salt Lake City
          type: string
        subjectKeyIdentifierHash:
          description: A subject key identifier hash
          example: 4E0CE93D3240561F468C33A85F08FCD3B04CC9DC
          type: string
        subjectL:
          description: A certificate subject Locality
          example: Salt Lake City
          type: string
        subjectO:
          description: A certificate subject Organization
          example: Venafi, Inc.
          type: string
        subjectOU:
          description: A collection of certificate subject Organization units
          example:
          - devops
          - test
          items:
            type: string
          type: array
        subjectST:
          description: A certificate subject State
          example: Utah
          type: string
        tags:
          description: A collection of tags
          example:
          - owner:test.user
          - 90-day
          items:
            type: string
          type: array
        totalActiveInstanceCount:
          description: total active instances of a certificate
          example: 50
          format: int32
          type: integer
        totalInstanceCount:
          description: total instances of a certificate
          example: 100
          format: int32
          type: integer
        validityEnd:
          description: The date a certificate validity ends
          example: '2023-01-24T09:12:28Z'
          format: date-time
          type: string
        validityStart:
          description: The date a certificate validity starts
          example: '2022-01-24T09:12:28Z'
          format: date-time
          type: string
        versionType:
          description: A certificate version type
          enum:
          - OLD
          - CURRENT
          example: CURRENT
          type: string
      type: object
    CertificateInstanceInformation:
      properties:
        applicationIds:
          description: A collection of application IDs
          example:
          - d3cce873-6957-4071-a65e-7676c0ae1123
          - 322bcd99-286a-47ea-8dcd-8291ec5bff14
          items:
            format: uuid
            type: string
          type: array
        certificateId:
          description: UUID of a certificate
          example: 2eb29780-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        certificateInstanceId:
          description: UUID of a certificate instance
          example: f68daf30-4690-45bc-85b3-bb327024735e
          format: uuid
          type: string
        certificateSource:
          description: Certificate source
          enum:
          - UNKNOWN
          - USER_PROVIDED
          - USER_IMPORTED
          - USER_SCAN
          - TRUSTNET_SCAN
          - ON_PREM_CA_IMPORT
          - EXTERNAL_CA_IMPORT
          - FILE_IMPORT
          - EXTERNAL_SCAN
          - DOMAIN_SCAN
          - SMART_SCAN_INTERNAL
          - SMART_SCAN_EXTERNAL
          - SMART_VALIDATION_INTERNAL
          - SMART_VALIDATION_EXTERNAL
          - MACHINE_DISCOVERY
          - KUBERNETES_DISCOVERY
          - AWS_DISCOVERY
          - AZURE_DISCOVERY
          - GCP_DISCOVERY
          example: USER_SCAN
          type: string
        deploymentStatus:
          description: The deployment status
          enum:
          - UNKNOWN
          - IN_USE
          - SUPERSEDED
          example: IN_USE
          type: string
        hostname:
          description: A hostname
          example: venafi.com
          type: string
        instanceChainValidationStatus:
          description: A collection of the instance chain validation status
          example:
          - OK
          items:
            enum:
            - OK
            - CHAIN_BUILDING_FAILED
            - INCOMPLETE_CHAIN
            - CHAIN_EXPIRE_BEFORE_EE
            - DISTRUSTED
            - UNKNOWN_ERROR
            - SELF_SIGNED
            type: string
          type: array
        ipAddress:
          description: An ip address
          example: 14.183.1.32
          type: string
        lastScanDate:
          description: The last scan date
          example: '2023-01-10T09:12:28Z'
          format: date-time
          type: string
        lastValidatedAttempt:
          description: The last validation attempt date
          example: '2023-01-11T09:12:28Z'
          format: date-time
          type: string
        modificationDate:
          description: The last modification date
          example: '2023-01-10T09:12:28Z'
          format: date-time
          type: string
        port:
          description: A port number
          example: 443
          format: int32
          type: integer
        serviceIds:
          description: A collection of service IDs
          example:
          - 1d61e9e0-9046-11ed-bf12-53a1b041cf2
          items:
            format: uuid
            type: string
          type: array
        sslProtocols:
          description: A collection of ssl protocols
          example:
          - TLSv1.1
          - TLSv1.2
          items:
            type: string
          type: array
        sslValidationErrorArguments:
          description: A collection of ssl validation error arguments
          example:
          - B69950CC5F51EDDF55F36AD2BC898767BC43CC2A
          - 24E5796GA7298E78EDE47D6FAED0790E8F464G54
          items:
            type: string
          type: array
        sslValidationStatus:
          description: SSL validation status
          enum:
          - HOSTNAME_NOT_RESOLVABLE
          - NO_CERTIFICATE_PRESENTED
          - INVALID_CERTIFICATE_FOUND
          - UNEXPECTED_CERTIFICATE_FOUND
          - OLD_VERSION_CERTIFICATE_FOUND
          - TARGET_UNREACHABLE
          - UNKNOWN_ERROR
          - OK
          example: OK
          type: string
        sslValidationStatusMessage:
          description: SSL validation status message
          example: Certificate installation is using older versions of certificate
          type: string
      type: object
    InvitationRequest:
      properties:
        role:
          enum:
          - SECURITY_ADMIN
          - DEVOPS_LEAD
          - DEVOPS_USER
          - OUTAGEDETECTION_ADMIN
          - RESOURCE_OWNER
          - PKI_ADMIN
          - GUEST
          - PLATFORM_ADMIN
          type: string
      required:
      - role
      type: object
    ApplicationRequest:
      properties:
        certificateIssuingTemplateAliasIdMap:
          additionalProperties:
            description: Represents a mapping of certificate issuing template aliases to their UUIDs.
            format: uuid
            type: string
          description: Represents a mapping of certificate issuing template aliases to their UUIDs.
          example:
            dev-cit: 20bcb9a1-0f9c-407e-9673-b048c3d6479d
            qa-cit: 448de2a0-1159-40f0-b3ae-e4f712577e87
          type: object
        description:
          description: A description for an applications
          example: this application will hold dev certificates
          type: string
        externalIpRanges:
          description: Represents a collection of external IP ranges.
          example:
          - 127.254.0.0/16
          - 192.2.3.0/32
          items:
            type: string
          type: array
        fqdns:
          description: A collection of FQDNs
          example:
          - venafi.docs.com
          - api.venafi
          items:
            type: string
          type: array
        fullyQualifiedDomainNames:
          description: Represents a collection of fully qualified domain names (FQDNs).
          example:
          - internal.venafi.docs
          - internal.api.venafi
          items:
            type: string
          type: array
        internalFqdns:
          description: Represents a collection of fully qualified domain names (FQDNs) used for internal purposes.
          example:
          - internal.venafi.docs
          - internal.api.venafi
          items:
            type: string
          type: array
        internalIpRanges:
          description: epresents a collection of internal IP ranges.
          example:
          - 127.254.0.0/16
          - 127.2.3.0/32
          items:
            type: string
          type: array
        internalPorts:
          description: Represents a collection of external ports.
          example:
          - '8080'
          - '9090'
          items:
            type: string
          type: array
        ipRanges:
          description: Represents a collection of CIDR (Classless Inter-Domain Routing) ranges.
          example:
          - 127.254.0.0/16
          - 192.2.3.0/32
          items:
            type: string
          type: array
        name:
          description: An application name
          example: dev app
          type: string
        ownerIdsAndTypes:
          description: Represents a collection of ownership UUIDs and types.
          example:
          - ownerId: f94c36a4-31b3-4aaf-a5c9-83fc7277db9f
            ownerType: USER
          - ownerId: 2f796153-33e8-48d6-82e0-cc3b259f78ec
            ownerType: TEAM
          items:
            $ref: '#/components/schemas/OwnerIdAndType'
          type: array
        ports:
          description: Represents a collection of network ports.
          example:
          - '443'
          - '7776'
          items:
            type: string
          type: array
        startTargetedDiscovery:
          description: Specifies whether to start target discovery.
          type: boolean
      required:
      - fullyQualifiedDomainNames
      - internalPorts
      - ipRanges
      - name
      - ownerIdsAndTypes
      - ports
      type: object
    ApplicationResponse:
      properties:
        applications:
          items:
            $ref: '#/components/schemas/ApplicationInformation'
          type: array
        ownershipCount:
          format: int32
          type: integer
        totalCount:
          format: int32
          type: integer
      type: object
    RecommendedSettingsKeyTypeInformation1:
      properties:
        curve:
          enum:
          - P256
          - P384
          - P521
          - ED25519
          - UNKNOWN
          type: string
        length:
          format: int32
          type: integer
        type:
          enum:
          - RSA
          - EC
          type: string
      type: object
    GeneralNamesData1:
      description: A certificate subject alternative name by type
      example:
        dNSName:
        - www.venafi.com
        - venafi.com
      properties:
        dNSName:
          items:
            type: string
          type: array
        directoryName:
          items:
            type: string
          type: array
        ediPartyName:
          items:
            type: string
          type: array
        iPAddress:
          items:
            type: string
          type: array
        otherName:
          items:
            type: string
          type: array
        registeredID:
          items:
            type: string
          type: array
        rfc822Name:
          items:
            type: string
          type: array
        uniformResourceIdentifier:
          items:
            type: string
          type: array
        x400Address:
          items:
            type: string
          type: array
      type: object
    InvitationInformation:
      properties:
        companyId:
          format: uuid
          type: string
        id:
          format: uuid
          type: string
        productRoles:
          additionalProperties:
            items:
              enum:
              - SECURITY_ADMIN
              - DEVOPS_LEAD
              - DEVOPS_USER
              - OUTAGEDETECTION_ADMIN
              - RESOURCE_OWNER
              - PKI_ADMIN
              - GUEST
              - PLATFORM_ADMIN
              type: string
            type: array
            uniqueItems: true
          type: object
        properties:
          additionalProperties:
            type: string
          type: object
        userId:
          format: uuid
          type: string
      type: object
    RecommendedSettingsInformation1:
      properties:
        key:
          $ref: '#/components/schemas/RecommendedSettingsKeyTypeInformation1'
        sanRegexes:
          items:
            type: string
          type: array
        subjectCNRegexes:
          items:
            type: string
          type: array
        subjectCValue:
          type: string
        subjectLValue:
          type: string
        subjectOUValue:
          type: string
        subjectOValue:
          type: string
        subjectSTValue:
          type: string
      type: object
    TeamInformation1:
      properties:
        companyId:
          format: uuid
          type: string
        id:
          format: uuid
          type: string
        members:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        name:
          type: string
        owners:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        ownership:
          additionalProperties:
            items:
              format: uuid
              type: string
            type: array
            uniqueItems: true
          type: object
        productRoles:
          additionalProperties:
            items:
              enum:
              - SECURITY_ADMIN
              - DEVOPS_LEAD
              - DEVOPS_USER
              - OUTAGEDETECTION_ADMIN
              - RESOURCE_OWNER
              - PKI_ADMIN
              - GUEST
              - PLATFORM_ADMIN
              type: string
            type: array
            uniqueItems: true
          type: object
        systemRoles:
          items:
            enum:
            - SYSTEM_ADMIN
            - CONDOR_METRICS
            type: string
          type: array
          uniqueItems: true
      type: object
    ScanafiConfigResponseV1:
      properties:
        id:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataInformation'
        provider:
          $ref: '#/components/schemas/ProviderInformation'
      type: object
    CertificateIssuingTemplateInformation1:
      properties:
        certificateAuthority:
          enum:
          - MOCKCA
          - DIGICERT
          - GLOBALSIGN
          - BUILTIN
          - ENTRUST
          - MICROSOFT
          - ACME
          - ZTPKI
          - GLOBALSIGNMSSL
          - TPP
          - CONNECTOR
          type: string
        certificateAuthorityAccountId:
          format: uuid
          type: string
        certificateAuthorityProductOptionId:
          format: uuid
          type: string
        companyId:
          format: uuid
          type: string
        creationDate:
          format: date-time
          type: string
        csrUploadAllowed:
          type: boolean
        everyoneIsConsumer:
          type: boolean
        id:
          format: uuid
          type: string
        keyGeneratedByVenafiAllowed:
          type: boolean
        keyReuse:
          type: boolean
        keyTypes:
          items:
            $ref: '#/components/schemas/KeyTypeInformation1'
          type: array
        modificationDate:
          format: date-time
          type: string
        name:
          type: string
        priority:
          format: int32
          type: integer
        product:
          $ref: '#/components/schemas/CertificateAuthorityProductInformation1'
        productEntitlement:
          enum:
          - ANY
          - MIRA
          - DEVOPS
          - OUTAGE_DETECTION
          - CODESIGN
          type: string
        productEntitlements:
          enum:
          - ANY
          - MIRA
          - DEVOPS
          - OUTAGE_DETECTION
          - CODESIGN
          type: string
          writeOnly: true
        reason:
          type: string
        recommendedSettings:
          $ref: '#/components/schemas/RecommendedSettingsInformation1'
        resourceConsumerTeamIds:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        resourceConsumerUserIds:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        sanDnsNameRegexes:
          items:
            type: string
          type: array
        sanIpAddressRegexes:
          items:
            type: string
          type: array
        sanRegexes:
          items:
            type: string
          type: array
        sanRfc822NameRegexes:
          items:
            type: string
          type: array
        sanUniformResourceIdentifierRegexes:
          items:
            type: string
          type: array
        status:
          enum:
          - AVAILABLE
          - UNAVAILABLE
          type: string
        subjectCNRegexes:
          items:
            type: string
          type: array
        subjectCValues:
          items:
            type: string
          type: array
        subjectLRegexes:
          items:
            type: string
          type: array
        subjectORegexes:
          items:
            type: string
          type: array
        subjectOURegexes:
          items:
            type: string
          type: array
        subjectSTRegexes:
          items:
            type: string
          type: array
        systemGenerated:
          type: boolean
        validityPeriod:
          description: ISO8601 Period Format
          example: PnYnMnDTnHnMnS
          type: string
      type: object
    UserInformation1:
      properties:
        admin:
          type: boolean
        companyId:
          format: uuid
          type: string
        creationDate:
          format: date-time
          type: string
        firstname:
          type: string
        id:
          format: uuid
          type: string
        lastname:
          type: string
        memberedTeams:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        ownedTeams:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        productRoles:
          additionalProperties:
            items:
              enum:
              - SECURITY_ADMIN
              - DEVOPS_LEAD
              - DEVOPS_USER
              - OUTAGEDETECTION_ADMIN
              - RESOURCE_OWNER
              - PKI_ADMIN
              - GUEST
              - PLATFORM_ADMIN
              type: string
            type: array
            uniqueItems: true
          type: object
        resourceOwner:
          type: boolean
        serviceAccount:
          type: boolean
        systemRoles:
          items:
            enum:
            - SYSTEM_ADMIN
            - CONDOR_METRICS
            type: string
          type: array
          uniqueItems: true
        teamsIds:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        userAccountType:
          type: string
        userStatus:
          type: string
        userType:
          type: string
        username:
          type: string
      type: object
    ApplicationOwnership:
      properties:
        owningTeams:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        owningUsers:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
      type: object
    ApplicationsAssignResponse:
      properties:
        certificates:
          items:
            $ref: '#/components/schemas/CertificateInformation'
          type: array
      type: object
    OwnerIdAndType:
      properties:
        ownerId:
          format: uuid
          type: string
        ownerType:
          enum:
          - USER
          - TEAM
          - SERVICE_ACCOUNT
          type: string
      required:
      - ownerId
      - ownerType
      type: object
    ProviderInputInformation:
      properties:
        hosts:
          items:
            type: string
          type: array
        ports:
          items:
            type: string
          type: array
        subnet:
          type: string
        type:
          type: string
      type: object
    InvitationResponse:
      properties:
        invitations:
          items:
            $ref: '#/components/schemas/InvitationInformation'
          type: array
      type: object
    ProviderInformation:
      properties:
        config:
          $ref: '#/components/schemas/ProviderConfigInformation'
        inputs:
          items:
            $ref: '#/components/schemas/ProviderInputInformation'
          type: array
        type:
          type: string
      type: object
  securitySchemes:
    service-account:
      in: header
      name: service-account
      type: apiKey
    tppl-api-key:
      in: header
      name: tppl-api-key
      type: apiKey
x-readme:
  samples-languages:
  - curl
  - go
  - java
  - javascript
  - node
  - python
