openapi: 3.2.0
info:
  title: Certificate Manager - SaaS Certificates API
  version: '1.0'
servers:
- description: US Region
  url: https://api.venafi.cloud
- description: EU Region
  url: https://api.eu.venafi.cloud
- description: AU Region
  url: https://api.au.venafi.cloud
- description: UK Region
  url: https://api.uk.venafi.cloud
- description: SG Region
  url: https://api.sg.venafi.cloud
- description: CA Region
  url: https://api.ca.venafi.cloud
tags:
- name: Certificates
paths:
  /outagedetection/v1/certificates:
    get:
      description: 'This endpoint allows you to retrieve all your certificates according to a specified criteria. This API provides a quick way to gather certificate details in order to install the certificates where they are needed.


        Use the `subject` query parameter to limit the search based on the certificate subject common name.'
      operationId: certificates_getAll
      parameters:
      - in: query
        name: ownershipTree
        schema:
          default: false
          type: boolean
      - in: query
        name: excludeSupersededInstances
        schema:
          default: false
          type: boolean
      - description: Ability to enter regular expression to match specific criteria.
        in: query
        name: subject
        schema:
          type: string
      - description: Indicates the maximum integer number of certificates returned.
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 10000
          minimum: 1
          type: number
      responses:
        '200':
          content:
            application/json:
              examples:
                Certificates details response:
                  description: Certificates details response
                  summary: Certificates details
                  value:
                    certificates:
                    - applicationIds:
                      - 47c9d920-da21-11ed-a63c-d508f08eeaa0
                      authorityKeyIdentifierHash: 27811CFCA803A90E617FA5D47441649608417DD4
                      certificateAuthorityAccountId: 2ed72220-da16-11ed-b080-e795c8859d29
                      certificateName: venafi.cloud
                      certificateRequestId: 3f675520-dfd8-11ed-82b4-074391f91f8b
                      certificateStatus: ACTIVE
                      companyId: 2d558b30-da16-11ed-8e4f-8339a1bc8d58
                      encryptionType: RSA
                      extendedKeyUsage:
                      - 1.3.6.1.5.5.7.3.1
                      - 1.3.6.1.5.5.7.3.2
                      fingerprint: F3CDE0F7539C331D9EF006092161EC8387320B4B
                      id: 3fb83440-dfd8-11ed-b8ab-4788d83ace9f
                      instances:
                      - applicationIds:
                        - 47c9d920-da21-11ed-a63c-d508f08eeaa0
                        certificateId: 3fb83440-dfd8-11ed-b8ab-4788d83ace9f
                        certificateInstanceId: 3fba3010-dfd8-11ed-b8ab-4788d83ace9f
                        certificateSource: USER_PROVIDED
                        deploymentStatus: SUPERSEDED
                        hostname: ''
                        ipAddress: 254.254.254.254
                        modificationDate: '2023-04-21T00:05:39.397+00:00'
                        port: 443
                      issuerC: US
                      issuerCN:
                      - Dedicated - Venafi Cloud Built-In Intermediate CA - G1
                      issuerCertificateIds:
                      - 73ff23b0-da21-11ed-befa-05892b4b966e
                      - 73e38560-da21-11ed-befa-05892b4b966e
                      issuerDN: cn=Dedicated - Venafi Cloud Built-In Intermediate CA - G1,ou=Built-in,o=Venafi, Inc.,c=US
                      issuerOU:
                      - Built-in
                      keyStrength: 4096
                      keyUsage:
                      - digitalSignature
                      - keyEncipherment
                      - keyAgreement
                      managedCertificateId: 3f3e7060-dfd8-11ed-8850-f18176fc5513
                      modificationDate: '2023-04-21T00:05:39.397+00:00'
                      ocspNoCheck: false
                      selfSigned: false
                      serialNumber: 173B8702B939C6E3FF702A1DE8386BF35A24A8B7
                      signatureAlgorithm: SHA256_WITH_RSA_ENCRYPTION
                      signatureHashAlgorithm: SHA256
                      subjectAlternativeNameDns:
                      - venafi.com
                      subjectAlternativeNamesByType:
                        dNSName:
                        - venafi.com
                      subjectC: US
                      subjectCN:
                      - venafi.cloud
                      subjectDN: cn=venafi.cloud,ou=dev,o=Venafi,c=US,st=Utah,l=Salt Lake City
                      subjectKeyIdentifierHash: C1EBF01EB166455AAFB6B8D7EFB5CDF78E7A930B
                      subjectL: Salt Lake City
                      subjectO: Venafi
                      subjectOU:
                      - dev
                      subjectST: Utah
                      totalActiveInstanceCount: 0
                      totalInstanceCount: 1
                      validityEnd: '2023-07-10T00:05:39.000+00:00'
                      validityStart: '2023-04-21T00:05:09.000+00:00'
                      versionType: CURRENT
                    - applicationIds:
                      - 47c9d920-da21-11ed-a63c-d508f08eeaa0
                      authorityKeyIdentifierHash: 27811CFCA803A90E617FA5D47441649608417DD4
                      certificateAuthorityAccountId: 2ed72220-da16-11ed-b080-e795c8859d29
                      certificateName: venafi.cloud
                      certificateRequestId: 567c4c70-dfd8-11ed-82b4-074391f91f8b
                      certificateStatus: ACTIVE
                      companyId: 2d558b30-da16-11ed-8e4f-8339a1bc8d58
                      encryptionType: RSA
                      extendedKeyUsage:
                      - 1.3.6.1.5.5.7.3.1
                      - 1.3.6.1.5.5.7.3.2
                      fingerprint: E8635EE689F6DB249CAA284FD8DDE7E09DEE6F00
                      id: 568a0810-dfd8-11ed-b8ab-4788d83ace9f
                      instances:
                      - applicationIds:
                        - 47c9d920-da21-11ed-a63c-d508f08eeaa0
                        certificateId: 568a0810-dfd8-11ed-b8ab-4788d83ace9f
                        certificateInstanceId: 568af270-dfd8-11ed-b8ab-4788d83ace9f
                        certificateSource: USER_PROVIDED
                        deploymentStatus: SUPERSEDED
                        hostname: ' '
                        instanceChainValidationStatus: []
                        ipAddress: 254.254.254.254
                        modificationDate: '2023-04-21T00:06:17.669+00:00'
                        port: 443
                      issuerC: US
                      issuerCN:
                      - Dedicated - Venafi Cloud Built-In Intermediate CA - G1
                      issuerCertificateIds:
                      - 73ff23b0-da21-11ed-befa-05892b4b966e
                      - 73e38560-da21-11ed-befa-05892b4b966e
                      issuerDN: cn=Dedicated - Venafi Cloud Built-In Intermediate CA - G1,ou=Built-in,o=Venafi, Inc.,c=US
                      issuerOU:
                      - Built-in
                      keyStrength: 4096
                      keyUsage:
                      - digitalSignature
                      - keyEncipherment
                      - keyAgreement
                      managedCertificateId: 5677dfa0-dfd8-11ed-8850-f18176fc5513
                      modificationDate: '2023-04-21T00:06:17.669+00:00'
                      ocspNoCheck: false
                      selfSigned: false
                      serialNumber: 6CC8CB1433B57D10353284EEC09E5D2D2153F4DC
                      signatureAlgorithm: SHA256_WITH_RSA_ENCRYPTION
                      signatureHashAlgorithm: SHA256
                      subjectAlternativeNameDns:
                      - venafi.cloud
                      subjectAlternativeNamesByType:
                        dNSName:
                        - venafi.cloud
                      subjectC: US
                      subjectCN:
                      - venafi.cloud
                      subjectDN: cn=venafi.cloud,ou=qa,o=Venafi,c=US,st=Utah,l=Salt Lake City
                      subjectKeyIdentifierHash: ACCCCB504BF86D1FD94F6D9DA2230A2B454EB5FC
                      subjectL: Salt Lake City
                      subjectO: Venafi
                      subjectOU:
                      - qa
                      subjectST: Utah
                      totalActiveInstanceCount: 0
                      totalInstanceCount: 1
                      validityEnd: '2023-07-10T00:06:17.000+00:00'
                      validityStart: '2023-04-21T00:05:47.000+00:00'
                      versionType: CURRENT
                    count: 2
              schema:
                $ref: '#/components/schemas/CertificateResponse'
            text/csv:
              examples:
                Certificates details response:
                  description: Certificates details response
                  summary: Certificates details
                  value:
                    certificates:
                    - applicationIds:
                      - 47c9d920-da21-11ed-a63c-d508f08eeaa0
                      authorityKeyIdentifierHash: 27811CFCA803A90E617FA5D47441649608417DD4
                      certificateAuthorityAccountId: 2ed72220-da16-11ed-b080-e795c8859d29
                      certificateName: venafi.cloud
                      certificateRequestId: 3f675520-dfd8-11ed-82b4-074391f91f8b
                      certificateStatus: ACTIVE
                      companyId: 2d558b30-da16-11ed-8e4f-8339a1bc8d58
                      encryptionType: RSA
                      extendedKeyUsage:
                      - 1.3.6.1.5.5.7.3.1
                      - 1.3.6.1.5.5.7.3.2
                      fingerprint: F3CDE0F7539C331D9EF006092161EC8387320B4B
                      id: 3fb83440-dfd8-11ed-b8ab-4788d83ace9f
                      instances:
                      - applicationIds:
                        - 47c9d920-da21-11ed-a63c-d508f08eeaa0
                        certificateId: 3fb83440-dfd8-11ed-b8ab-4788d83ace9f
                        certificateInstanceId: 3fba3010-dfd8-11ed-b8ab-4788d83ace9f
                        certificateSource: USER_PROVIDED
                        deploymentStatus: SUPERSEDED
                        hostname: ''
                        ipAddress: 254.254.254.254
                        modificationDate: '2023-04-21T00:05:39.397+00:00'
                        port: 443
                      issuerC: US
                      issuerCN:
                      - Dedicated - Venafi Cloud Built-In Intermediate CA - G1
                      issuerCertificateIds:
                      - 73ff23b0-da21-11ed-befa-05892b4b966e
                      - 73e38560-da21-11ed-befa-05892b4b966e
                      issuerDN: cn=Dedicated - Venafi Cloud Built-In Intermediate CA - G1,ou=Built-in,o=Venafi, Inc.,c=US
                      issuerOU:
                      - Built-in
                      keyStrength: 4096
                      keyUsage:
                      - digitalSignature
                      - keyEncipherment
                      - keyAgreement
                      managedCertificateId: 3f3e7060-dfd8-11ed-8850-f18176fc5513
                      modificationDate: '2023-04-21T00:05:39.397+00:00'
                      ocspNoCheck: false
                      selfSigned: false
                      serialNumber: 173B8702B939C6E3FF702A1DE8386BF35A24A8B7
                      signatureAlgorithm: SHA256_WITH_RSA_ENCRYPTION
                      signatureHashAlgorithm: SHA256
                      subjectAlternativeNameDns:
                      - venafi.com
                      subjectAlternativeNamesByType:
                        dNSName:
                        - venafi.com
                      subjectC: US
                      subjectCN:
                      - venafi.cloud
                      subjectDN: cn=venafi.cloud,ou=dev,o=Venafi,c=US,st=Utah,l=Salt Lake City
                      subjectKeyIdentifierHash: C1EBF01EB166455AAFB6B8D7EFB5CDF78E7A930B
                      subjectL: Salt Lake City
                      subjectO: Venafi
                      subjectOU:
                      - dev
                      subjectST: Utah
                      totalActiveInstanceCount: 0
                      totalInstanceCount: 1
                      validityEnd: '2023-07-10T00:05:39.000+00:00'
                      validityStart: '2023-04-21T00:05:09.000+00:00'
                      versionType: CURRENT
                    - applicationIds:
                      - 47c9d920-da21-11ed-a63c-d508f08eeaa0
                      authorityKeyIdentifierHash: 27811CFCA803A90E617FA5D47441649608417DD4
                      certificateAuthorityAccountId: 2ed72220-da16-11ed-b080-e795c8859d29
                      certificateName: venafi.cloud
                      certificateRequestId: 567c4c70-dfd8-11ed-82b4-074391f91f8b
                      certificateStatus: ACTIVE
                      companyId: 2d558b30-da16-11ed-8e4f-8339a1bc8d58
                      encryptionType: RSA
                      extendedKeyUsage:
                      - 1.3.6.1.5.5.7.3.1
                      - 1.3.6.1.5.5.7.3.2
                      fingerprint: E8635EE689F6DB249CAA284FD8DDE7E09DEE6F00
                      id: 568a0810-dfd8-11ed-b8ab-4788d83ace9f
                      instances:
                      - applicationIds:
                        - 47c9d920-da21-11ed-a63c-d508f08eeaa0
                        certificateId: 568a0810-dfd8-11ed-b8ab-4788d83ace9f
                        certificateInstanceId: 568af270-dfd8-11ed-b8ab-4788d83ace9f
                        certificateSource: USER_PROVIDED
                        deploymentStatus: SUPERSEDED
                        hostname: ' '
                        instanceChainValidationStatus: []
                        ipAddress: 254.254.254.254
                        modificationDate: '2023-04-21T00:06:17.669+00:00'
                        port: 443
                      issuerC: US
                      issuerCN:
                      - Dedicated - Venafi Cloud Built-In Intermediate CA - G1
                      issuerCertificateIds:
                      - 73ff23b0-da21-11ed-befa-05892b4b966e
                      - 73e38560-da21-11ed-befa-05892b4b966e
                      issuerDN: cn=Dedicated - Venafi Cloud Built-In Intermediate CA - G1,ou=Built-in,o=Venafi, Inc.,c=US
                      issuerOU:
                      - Built-in
                      keyStrength: 4096
                      keyUsage:
                      - digitalSignature
                      - keyEncipherment
                      - keyAgreement
                      managedCertificateId: 5677dfa0-dfd8-11ed-8850-f18176fc5513
                      modificationDate: '2023-04-21T00:06:17.669+00:00'
                      ocspNoCheck: false
                      selfSigned: false
                      serialNumber: 6CC8CB1433B57D10353284EEC09E5D2D2153F4DC
                      signatureAlgorithm: SHA256_WITH_RSA_ENCRYPTION
                      signatureHashAlgorithm: SHA256
                      subjectAlternativeNameDns:
                      - venafi.cloud
                      subjectAlternativeNamesByType:
                        dNSName:
                        - venafi.cloud
                      subjectC: US
                      subjectCN:
                      - venafi.cloud
                      subjectDN: cn=venafi.cloud,ou=qa,o=Venafi,c=US,st=Utah,l=Salt Lake City
                      subjectKeyIdentifierHash: ACCCCB504BF86D1FD94F6D9DA2230A2B454EB5FC
                      subjectL: Salt Lake City
                      subjectO: Venafi
                      subjectOU:
                      - qa
                      subjectST: Utah
                      totalActiveInstanceCount: 0
                      totalInstanceCount: 1
                      validityEnd: '2023-07-10T00:06:17.000+00:00'
                      validityStart: '2023-04-21T00:05:47.000+00:00'
                      versionType: CURRENT
                    count: 2
              schema:
                $ref: '#/components/schemas/CertificateResponse'
          description: Certificate(s) response.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            text/csv:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Request conditions failed.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            text/csv:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Request conditions failed.
      security:
      - tppl-api-key: []
      summary: Retrieve all certificate data
      tags:
      - Certificates
  /outagedetection/v1/certificates/{id}:
    get:
      description: Retrieves the details of the certificate that has the specified `id`.
      operationId: certificates_getById
      parameters:
      - description: Indicates whether response should include nested ownership data (e.g., `owningContainers`).
        in: query
        name: ownershipTree
        schema:
          default: false
          type: boolean
      - in: query
        name: excludeSupersededInstances
        schema:
          default: false
          type: boolean
      - description: UUID of a Certificate.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Certificate details response:
                  description: Certificate details response
                  summary: Certificate details
                  value:
                    applicationIds:
                    - 47c9d920-da21-11ed-a63c-d508f08eeaa0
                    authorityKeyIdentifierHash: 27811CFCA803A90E617FA5D47441649608417DD4
                    certificateAuthorityAccountId: 2ed72220-da16-11ed-b080-e795c8859d29
                    certificateName: venafi.cloud
                    certificateRequestId: 3f675520-dfd8-11ed-82b4-074391f91f8b
                    certificateStatus: ACTIVE
                    companyId: 2d558b30-da16-11ed-8e4f-8339a1bc8d58
                    encryptionType: RSA
                    extendedKeyUsage:
                    - 1.3.6.1.5.5.7.3.1
                    - 1.3.6.1.5.5.7.3.2
                    fingerprint: F3CDE0F7539C331D9EF006092161EC8387320B4B
                    id: 3fb83440-dfd8-11ed-b8ab-4788d83ace9f
                    instances:
                    - applicationIds:
                      - 47c9d920-da21-11ed-a63c-d508f08eeaa0
                      certificateId: 3fb83440-dfd8-11ed-b8ab-4788d83ace9f
                      certificateInstanceId: 3fba3010-dfd8-11ed-b8ab-4788d83ace9f
                      certificateSource: USER_PROVIDED
                      deploymentStatus: SUPERSEDED
                      hostname: ' '
                      instanceChainValidationStatus: []
                      ipAddress: 254.254.254.254
                      modificationDate: '2023-04-21T00:05:39.397+00:00'
                      port: 443
                      serviceIds: []
                    issuerC: US
                    issuerCN:
                    - Dedicated - Venafi Cloud Built-In Intermediate CA - G1
                    issuerCertificateIds:
                    - 73ff23b0-da21-11ed-befa-05892b4b966e
                    - 73e38560-da21-11ed-befa-05892b4b966e
                    issuerCertificates:
                    - authorityKeyIdentifierHash: EF4E4297B08CCB96978B672FCD52E166B3DC1DE3
                      certificateName: Dedicated - Venafi Cloud Built-In Intermediate CA - G1
                      certificateStatus: ACTIVE
                      companyId: 85d375a0-8038-11e5-bf87-317fe88bb23a
                      encryptionType: RSA
                      fingerprint: 5B8E151A0D23B0E72505C09F0563108ACCD64B24
                      id: 73ff23b0-da21-11ed-befa-05892b4b966e
                      instances:
                      - certificateId: 73ff23b0-da21-11ed-befa-05892b4b966e
                        certificateInstanceId: 7401e2d0-da21-11ed-befa-05892b4b966e
                        deploymentStatus: SUPERSEDED
                        hostname: ' '
                        instanceChainValidationStatus: []
                        ipAddress: 254.254.254.254
                        modificationDate: '2023-04-21T00:06:17.625+00:00'
                        port: 443
                      issuerC: US
                      issuerCN:
                      - Dedicated - Venafi Cloud Built-In CA
                      issuerCertificateIds:
                      - 73e38560-da21-11ed-befa-05892b4b966e
                      issuerDN: cn=Dedicated - Venafi Cloud Built-In CA,ou=Built-in,o=Venafi, Inc.,c=US
                      issuerOU:
                      - Built-in
                      keyStrength: 2048
                      keyUsage:
                      - keyCertSign
                      - cRLSign
                      managedCertificateId: 74463ed0-da21-11ed-a63c-d508f08eeaa0
                      modificationDate: '2023-04-21T00:06:17.625+00:00'
                      ocspNoCheck: false
                      selfSigned: false
                      serialNumber: 1E3DB051E62ACD3FCC15ED326299C692A8F7ECDB
                      signatureAlgorithm: SHA256_WITH_RSA_ENCRYPTION
                      signatureHashAlgorithm: SHA256
                      subjectC: US
                      subjectCN:
                      - Dedicated - Venafi Cloud Built-In Intermediate CA - G1
                      subjectDN: cn=Dedicated - Venafi Cloud Built-In Intermediate CA - G1,ou=Built-in,o=Venafi, Inc.,c=US
                      subjectKeyIdentifierHash: 27811CFCA803A90E617FA5D47441649608417DD4
                      subjectO: Venafi, Inc.
                      subjectOU:
                      - Built-in
                      totalActiveInstanceCount: 0
                      totalInstanceCount: 1
                      validityEnd: '2028-04-11T16:13:52.000+00:00'
                      validityStart: '2023-04-13T16:13:22.000+00:00'
                      versionType: CURRENT
                    - authorityKeyIdentifierHash: EF4E4297B08CCB96978B672FCD52E166B3DC1DE3
                      certificateName: Dedicated - Venafi Cloud Built-In CA
                      certificateStatus: ACTIVE
                      companyId: 85d375a0-8038-11e5-bf87-317fe88bb23a
                      encryptionType: RSA
                      fingerprint: AE38ABFB40DBB9309E1A6D9F08CF8C02C06F6D85
                      id: 73e38560-da21-11ed-befa-05892b4b966e
                      instances:
                      - certificateId: 73e38560-da21-11ed-befa-05892b4b966e
                        certificateInstanceId: 73ee0cb0-da21-11ed-befa-05892b4b966e
                        deploymentStatus: SUPERSEDED
                        hostname: ' '
                        instanceChainValidationStatus: []
                        ipAddress: 254.254.254.254
                        modificationDate: '2023-04-21T00:06:17.601+00:00'
                        port: 443
                      issuerC: US
                      issuerCN:
                      - Dedicated - Venafi Cloud Built-In CA
                      issuerCertificateIds: []
                      issuerDN: cn=Dedicated - Venafi Cloud Built-In CA,ou=Built-in,o=Venafi, Inc.,c=US
                      issuerOU:
                      - Built-in
                      keyStrength: 2048
                      keyUsage:
                      - keyCertSign
                      - cRLSign
                      managedCertificateId: 740f5050-da21-11ed-a63c-d508f08eeaa0
                      modificationDate: '2023-04-21T00:06:17.601+00:00'
                      ocspNoCheck: false
                      selfSigned: true
                      serialNumber: 080C053247AEFCA09FFF2FE6B4B5AEE6DDA65269
                      signatureAlgorithm: SHA256_WITH_RSA_ENCRYPTION
                      signatureHashAlgorithm: SHA256
                      subjectC: US
                      subjectCN:
                      - Dedicated - Venafi Cloud Built-In CA
                      subjectDN: cn=Dedicated - Venafi Cloud Built-In CA,ou=Built-in,o=Venafi, Inc.,c=US
                      subjectKeyIdentifierHash: EF4E4297B08CCB96978B672FCD52E166B3DC1DE3
                      subjectO: Venafi, Inc.
                      subjectOU:
                      - Built-in
                      totalActiveInstanceCount: 0
                      totalInstanceCount: 1
                      validityEnd: '2033-04-10T16:13:51.000+00:00'
                      validityStart: '2023-04-13T16:13:21.000+00:00'
                      versionType: CURRENT
                    issuerDN: cn=Dedicated - Venafi Cloud Built-In Intermediate CA - G1,ou=Built-in,o=Venafi, Inc.,c=US
                    issuerOU:
                    - Built-in
                    keyStrength: 4096
                    keyUsage:
                    - digitalSignature
                    - keyEncipherment
                    - keyAgreement
                    managedCertificateId: 3f3e7060-dfd8-11ed-8850-f18176fc5513
                    modificationDate: '2023-04-21T00:05:39.397+00:00'
                    ocspNoCheck: false
                    selfSigned: false
                    serialNumber: 173B8702B939C6E3FF702A1DE8386BF35A24A8B7
                    signatureAlgorithm: SHA256_WITH_RSA_ENCRYPTION
                    signatureHashAlgorithm: SHA256
                    subjectAlternativeNameDns:
                    - venafi.com
                    subjectAlternativeNamesByType:
                      dNSName:
                      - venafi.com
                    subjectC: US
                    subjectCN:
                    - venafi.cloud
                    subjectDN: cn=venafi.cloud,ou=dev,o=Venafi,c=US,st=Utah,l=Salt Lake City
                    subjectKeyIdentifierHash: C1EBF01EB166455AAFB6B8D7EFB5CDF78E7A930B
                    subjectL: Salt Lake City
                    subjectO: Venafi
                    subjectOU:
                    - dev
                    subjectST: Utah
                    totalActiveInstanceCount: 0
                    totalInstanceCount: 1
                    validityEnd: '2023-07-10T00:05:39.000+00:00'
                    validityStart: '2023-04-21T00:05:09.000+00:00'
                    versionType: CURRENT
              schema:
                $ref: '#/components/schemas/ExtendedCertificateInformation'
          description: Certificate was found; details in response body.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Certificate was not found.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      security:
      - tppl-api-key: []
      summary: Get a certificate's details
      tags:
      - Certificates
  /outagedetection/v1/certificates/{id}/contents:
    get:
      description: Exports the certificate that has the specified `id` in PEM or DER format. Chain CA certificates are included for PEM format when `chainOrder` is EE_FIRST or ROOT_FIRST.
      operationId: certificates_getContentsById
      parameters:
      - description: Specify an 'accept' header parameter's value
        in: header
        name: Accept
        schema:
          enum:
          - text/plain
          - application/octet-stream
          type: string
      - description: UUID of a Certificate.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Format of certificate in response.
        in: query
        name: format
        schema:
          enum:
          - PEM
          - DER
          type: string
      - description: Order of certificates in response.
        in: query
        name: chainOrder
        schema:
          enum:
          - EE_ONLY
          - EE_FIRST
          - ROOT_FIRST
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
            application/octet-stream:
              schema:
                type: string
            text/plain:
              schema:
                type: string
          description: Raw certificate in response body
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Certificate not found.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      security:
      - tppl-api-key: []
      summary: Download a certificate
      tags:
      - Certificates
  /outagedetection/v1/certificates/validation:
    post:
      description: Submits one or more certificates for TLS validation.
      operationId: certificates_validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateValidationRequest'
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateValidationResponse'
          description: Certificates submitted for validation response.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      security:
      - tppl-api-key: []
      summary: Request validation for a set of certificates
      tags:
      - Certificates
  /outagedetection/v1/certificates/retirement:
    post:
      description: This endpoint retires one or more certificates by using the **certificateIds** parameter to match a specified value.
      operationId: certificateretirement_retireCertificates
      requestBody:
        content:
          application/json:
            examples:
              Certificate retirement request:
                description: Certificate retirement request
                summary: Certificate retirement
                value:
                  addToBlocklist: false
                  certificateIds:
                  - 3fb83440-dfd8-11ed-b8ab-4788d83ace9f
            schema:
              $ref: '#/components/schemas/CertificateRetirementRequest'
      responses:
        '200':
          content:
            application/json:
              examples:
                Certificate retirement response:
                  description: Certificate retirement response
                  summary: Certificate retirement
                  value:
                    certificates:
                    - applicationIds:
                      - 47c9d920-da21-11ed-a63c-d508f08eeaa0
                      authorityKeyIdentifierHash: 27811CFCA803A90E617FA5D47441649608417DD4
                      certificateAuthorityAccountId: 2ed72220-da16-11ed-b080-e795c8859d29
                      certificateName: venafi.cloud
                      certificateRequestId: 3f675520-dfd8-11ed-82b4-074391f91f8b
                      certificateStatus: RETIRED
                      companyId: 2d558b30-da16-11ed-8e4f-8339a1bc8d58
                      encryptionType: RSA
                      extendedKeyUsage:
                      - 1.3.6.1.5.5.7.3.1
                      - 1.3.6.1.5.5.7.3.2
                      fingerprint: F3CDE0F7539C331D9EF006092161EC8387320B4B
                      id: 3fb83440-dfd8-11ed-b8ab-4788d83ace9f
                      instances:
                      - applicationIds:
                        - 47c9d920-da21-11ed-a63c-d508f08eeaa0
                        certificateId: 3fb83440-dfd8-11ed-b8ab-4788d83ace9f
                        certificateInstanceId: 3fba3010-dfd8-11ed-b8ab-4788d83ace9f
                        certificateSource: USER_PROVIDED
                        deploymentStatus: SUPERSEDED
                        hostname: ' '
                        instanceChainValidationStatus: []
                        ipAddress: 254.254.254.254
                        modificationDate: '2023-04-24T17:36:04.576+00:00'
                        port: 443
                      issuerC: US
                      issuerCN:
                      - Dedicated - Venafi Cloud Built-In Intermediate CA - G1
                      issuerCertificateIds:
                      - 73ff23b0-da21-11ed-befa-05892b4b966e
                      - 73e38560-da21-11ed-befa-05892b4b966e
                      issuerDN: cn=Dedicated - Venafi Cloud Built-In Intermediate CA - G1,ou=Built-in,o=Venafi, Inc.,c=US
                      issuerOU:
                      - Built-in
                      keyStrength: 4096
                      keyUsage:
                      - digitalSignature
                      - keyEncipherment
                      - keyAgreement
                      managedCertificateId: 3f3e7060-dfd8-11ed-8850-f18176fc5513
                      modificationDate: '2023-04-24T17:36:04.451+00:00'
                      ocspNoCheck: false
                      selfSigned: false
                      serialNumber: 173B8702B939C6E3FF702A1DE8386BF35A24A8B7
                      signatureAlgorithm: SHA256_WITH_RSA_ENCRYPTION
                      signatureHashAlgorithm: SHA256
                      statusModificationDate: '2023-04-24T17:36:04.451+00:00'
                      statusModificationUserId: 309e4d90-da16-11ed-8e4f-8339a1bc8d58
                      subjectAlternativeNameDns:
                      - venafi.com
                      subjectAlternativeNamesByType:
                        dNSName:
                        - venafi.com
                      subjectC: US
                      subjectCN:
                      - venafi.cloud
                      subjectDN: cn=venafi.cloud,ou=dev,o=Venafi,c=US,st=Utah,l=Salt Lake City
                      subjectKeyIdentifierHash: C1EBF01EB166455AAFB6B8D7EFB5CDF78E7A930B
                      subjectL: Salt Lake City
                      subjectO: Venafi
                      subjectOU:
                      - dev
                      subjectST: Utah
                      totalActiveInstanceCount: 0
                      totalInstanceCount: 1
                      validityEnd: '2023-07-10T00:05:39.000+00:00'
                      validityStart: '2023-04-21T00:05:09.000+00:00'
                      versionType: CURRENT
                    count: 1
              schema:
                $ref: '#/components/schemas/CertificateResponse'
          description: Certificate retirement response.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Request conditions failed.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Request conditions failed.
      security:
      - tppl-api-key: []
      summary: Retire certificates
      tags:
      - Certificates
  /outagedetection/v1/certificates/recovery:
    post:
      description: Recover the certificates specified by `certificateIds`, including any previous versions of those certificates.
      operationId: certificateretirement_recoverCertificates
      requestBody:
        content:
          application/json:
            examples:
              Certificate recovery request:
                description: Certificate recovery request
                summary: Certificate recovery
                value:
                  applicationIds:
                  - 9303e940-df9d-11ed-8850-f18176fc5513
                  certificateIds:
                  - 568a0810-dfd8-11ed-b8ab-4788d83ace9f
            schema:
              $ref: '#/components/schemas/CertificateRecoveryRequest'
      responses:
        '200':
          content:
            application/json:
              examples:
                Certificate recovery details:
                  description: Certificate recovery details
                  summary: Certificate recovered details
                  value:
                    certificates:
                    - applicationIds:
                      - 9303e940-df9d-11ed-8850-f18176fc5513
                      authorityKeyIdentifierHash: 27811CFCA803A90E617FA5D47441649608417DD4
                      certificateAuthorityAccountId: 2ed72220-da16-11ed-b080-e795c8859d29
                      certificateName: venafi.cloud
                      certificateRequestId: 567c4c70-dfd8-11ed-82b4-074391f91f8b
                      certificateStatus: ACTIVE
                      companyId: 2d558b30-da16-11ed-8e4f-8339a1bc8d58
                      encryptionType: RSA
                      extendedKeyUsage:
                      - 1.3.6.1.5.5.7.3.1
                      - 1.3.6.1.5.5.7.3.2
                      fingerprint: E8635EE689F6DB249CAA284FD8DDE7E09DEE6F00
                      id: 568a0810-dfd8-11ed-b8ab-4788d83ace9f
                      instances:
                      - applicationIds:
                        - 9303e940-df9d-11ed-8850-f18176fc5513
                        certificateId: 568a0810-dfd8-11ed-b8ab-4788d83ace9f
                        certificateInstanceId: 568af270-dfd8-11ed-b8ab-4788d83ace9f
                        certificateSource: USER_PROVIDED
                        deploymentStatus: SUPERSEDED
                        hostname: ' '
                        instanceChainValidationStatus: []
                        ipAddress: 254.254.254.254
                        modificationDate: '2023-04-21T00:52:19.940+00:00'
                        port: 443
                      issuerC: US
                      issuerCN:
                      - Dedicated - Venafi Cloud Built-In Intermediate CA - G1
                      issuerCertificateIds:
                      - 73ff23b0-da21-11ed-befa-05892b4b966e
                      - 73e38560-da21-11ed-befa-05892b4b966e
                      issuerDN: cn=Dedicated - Venafi Cloud Built-In Intermediate CA - G1,ou=Built-in,o=Venafi, Inc.,c=US
                      issuerOU:
                      - Built-in
                      keyStrength: 4096
                      keyUsage:
                      - digitalSignature
                      - keyEncipherment
                      - keyAgreement
                      managedCertificateId: 5677dfa0-dfd8-11ed-8850-f18176fc5513
                      modificationDate: '2023-04-21T00:52:56.620+00:00'
                      ocspNoCheck: false
                      selfSigned: false
                      serialNumber: 6CC8CB1433B57D10353284EEC09E5D2D2153F4DC
                      signatureAlgorithm: SHA256_WITH_RSA_ENCRYPTION
                      signatureHashAlgorithm: SHA256
                      statusModificationDate: '2023-04-21T00:52:56.620+00:00'
                      statusModificationUserId: 309e4d90-da16-11ed-8e4f-8339a1bc8d58
                      subjectAlternativeNameDns:
                      - venafi.cloud
                      subjectAlternativeNamesByType:
                        dNSName:
                        - venafi.cloud
                      subjectC: US
                      subjectCN:
                      - venafi.cloud
                      subjectDN: cn=venafi.cloud,ou=qa,o=Venafi,c=US,st=Utah,l=Salt Lake City
                      subjectKeyIdentifierHash: ACCCCB504BF86D1FD94F6D9DA2230A2B454EB5FC
                      subjectL: Salt Lake City
                      subjectO: Venafi
                      subjectOU:
                      - qa
                      subjectST: Utah
                      totalActiveInstanceCount: 0
                      totalInstanceCount: 1
                      validityEnd: '2023-07-10T00:06:17.000+00:00'
                      validityStart: '2023-04-21T00:05:47.000+00:00'
                      versionType: CURRENT
                    count: 1
              schema:
                $ref: '#/components/schemas/CertificateResponse'
          description: Certificates were recovered. Total number and details are in the response body.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      security:
      - tppl-api-key: []
      summary: Recover a set of certificates
      tags:
      - Certificates
  /outagedetection/v1/certificates/deletion:
    post:
      description: Permanently deletes the retired certificates specified by `certificateIds` from the inventory.
      operationId: certificateretirement_deleteCertificates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateDeletionRequest'
        required: true
      responses:
        '204':
          description: Certificates were deleted.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      security:
      - tppl-api-key: []
      summary: Delete a set of retired certificates
      tags:
      - Certificates
  /outagedetection/v1/certificatesearch:
    post:
      description: This endpoint retrieves certificate data according to specified search criteria based on commonly used field search parameters. Some examples are `signatureHashAlgorithm`, `validityEnd`, and `issuerCN`. For more information, see common search parameters.
      operationId: certificates_search_getByExpression
      parameters:
      - in: query
        name: ownershipTree
        schema:
          default: false
          type: boolean
      - in: query
        name: excludeSupersededInstances
        schema:
          default: false
          type: boolean
      requestBody:
        content:
          application/json:
            examples:
              Certificate search request by expression:
                description: Certificate search request by expression
                summary: Certificate search by expression
                value:
                  expression:
                    operands:
                    - field: certificateName
                      operator: EQ
                      value: venafi.cloud
                    - field: certificateStatus
                      operator: EQ
                      value: RETIRED
                    operator: AND
                  ordering:
                    orders:
                    - direction: DESC
                      field: certificateName
                  paging:
                    pageNumber: 0
                    pageSize: 10
            schema:
              $ref: '#/components/schemas/Filter2'
      responses:
        '200':
          content:
            application/json:
              examples:
                Certificate details response:
                  description: Certificate details response
                  summary: Certificate details
                  value:
                    certificates:
                    - applicationIds:
                      - 47c9d920-da21-11ed-a63c-d508f08eeaa0
                      authorityKeyIdentifierHash: 27811CFCA803A90E617FA5D47441649608417DD4
                      certificateAuthorityAccountId: 2ed72220-da16-11ed-b080-e795c8859d29
                      certificateName: venafi.cloud
                      certificateRequestId: 3f675520-dfd8-11ed-82b4-074391f91f8b
                      certificateStatus: RETIRED
                      companyId: 2d558b30-da16-11ed-8e4f-8339a1bc8d58
                      encryptionType: RSA
                      extendedKeyUsage:
                      - 1.3.6.1.5.5.7.3.1
                      - 1.3.6.1.5.5.7.3.2
                      fingerprint: F3CDE0F7539C331D9EF006092161EC8387320B4B
                      id: 3fb83440-dfd8-11ed-b8ab-4788d83ace9f
                      instances:
                      - applicationIds:
                        - 47c9d920-da21-11ed-a63c-d508f08eeaa0
                        certificateId: 3fb83440-dfd8-11ed-b8ab-4788d83ace9f
                        certificateInstanceId: 3fba3010-dfd8-11ed-b8ab-4788d83ace9f
                        certificateSource: USER_PROVIDED
                        deploymentStatus: SUPERSEDED
                        hostname: ' '
                        instanceChainValidationStatus: []
                        ipAddress: 254.254.254.254
                        modificationDate: '2023-04-24T17:36:04.576+00:00'
                        port: 443
                      issuerC: US
                      issuerCN:
                      - Dedicated - Venafi Cloud Built-In Intermediate CA - G1
                      issuerCertificateIds:
                      - 73ff23b0-da21-11ed-befa-05892b4b966e
                      - 73e38560-da21-11ed-befa-05892b4b966e
                      issuerDN: cn=Dedicated - Venafi Cloud Built-In Intermediate CA - G1,ou=Built-in,o=Venafi, Inc.,c=US
                      issuerOU:
                      - Built-in
                      keyStrength: 4096
                      keyUsage:
                      - digitalSignature
                      - keyEncipherment
                      - keyAgreement
                      managedCertificateId: 3f3e7060-dfd8-11ed-8850-f18176fc5513
                      modificationDate: '2023-04-24T17:36:04.451+00:00'
                      ocspNoCheck: false
                      selfSigned: false
                      serialNumber: 173B8702B939C6E3FF702A1DE8386BF35A24A8B7
                      signatureAlgorithm: SHA256_WITH_RSA_ENCRYPTION
                      signatureHashAlgorithm: SHA256
                      statusModificationDate: '2023-04-24T17:36:04.451+00:00'
                      statusModificationUserId: 309e4d90-da16-11ed-8e4f-8339a1bc8d58
                      subjectAlternativeNameDns:
                      - venafi.com
                      subjectAlternativeNamesByType:
                        dNSName:
                        - venafi.com
                      subjectC: US
                      subjectCN:
                      - venafi.cloud
                      subjectDN: cn=venafi.cloud,ou=dev,o=Venafi,c=US,st=Utah,l=Salt Lake City
                      subjectKeyIdentifierHash: C1EBF01EB166455AAFB6B8D7EFB5CDF78E7A930B
                      subjectL: Salt Lake City
                      subjectO: Venafi
                      subjectOU:
                      - dev
                      subjectST: Utah
                      totalActiveInstanceCount: 0
                      totalInstanceCount: 1
                      validityEnd: '2023-07-10T00:05:39.000+00:00'
                      validityStart: '2023-04-21T00:05:09.000+00:00'
                      versionType: CURRENT
                    count: 1
              schema:
                $ref: '#/components/schemas/CertificateResponse'
            text/csv:
              examples:
                Certificate details response:
                  description: Certificate details response
                  summary: Certificate details
                  value:
                    certificates:
                    - applicationIds:
                      - 47c9d920-da21-11ed-a63c-d508f08eeaa0
                      authorityKeyIdentifierHash: 27811CFCA803A90E617FA5D47441649608417DD4
                      certificateAuthorityAccountId: 2ed72220-da16-11ed-b080-e795c8859d29
                      certificateName: venafi.cloud
                      certificateRequestId: 3f675520-dfd8-11ed-82b4-074391f91f8b
                      certificateStatus: RETIRED
                      companyId: 2d558b30-da16-11ed-8e4f-8339a1bc8d58
                      encryptionType: RSA
                      extendedKeyUsage:
                      - 1.3.6.1.5.5.7.3.1
                      - 1.3.6.1.5.5.7.3.2
                      fingerprint: F3CDE0F7539C331D9EF006092161EC8387320B4B
                      id: 3fb83440-dfd8-11ed-b8ab-4788d83ace9f
                      instances:
                      - applicationIds:
                        - 47c9d920-da21-11ed-a63c-d508f08eeaa0
                        certificateId: 3fb83440-dfd8-11ed-b8ab-4788d83ace9f
                        certificateInstanceId: 3fba3010-dfd8-11ed-b8ab-4788d83ace9f
                        certificateSource: USER_PROVIDED
                        deploymentStatus: SUPERSEDED
                        hostname: ' '
                        instanceChainValidationStatus: []
                        ipAddress: 254.254.254.254
                        modificationDate: '2023-04-24T17:36:04.576+00:00'
                        port: 443
                      issuerC: US
                      issuerCN:
                      - Dedicated - Venafi Cloud Built-In Intermediate CA - G1
                      issuerCertificateIds:
                      - 73ff23b0-da21-11ed-befa-05892b4b966e
                      - 73e38560-da21-11ed-befa-05892b4b966e
                      issuerDN: cn=Dedicated - Venafi Cloud Built-In Intermediate CA - G1,ou=Built-in,o=Venafi, Inc.,c=US
                      issuerOU:
                      - Built-in
                      keyStrength: 4096
                      keyUsage:
                      - digitalSignature
                      - keyEncipherment
                      - keyAgreement
                      managedCertificateId: 3f3e7060-dfd8-11ed-8850-f18176fc5513
                      modificationDate: '2023-04-24T17:36:04.451+00:00'
                      ocspNoCheck: false
                      selfSigned: false
                      serialNumber: 173B8702B939C6E3FF702A1DE8386BF35A24A8B7
                      signatureAlgorithm: SHA256_WITH_RSA_ENCRYPTION
                      signatureHashAlgorithm: SHA256
                      statusModificationDate: '2023-04-24T17:36:04.451+00:00'
                      statusModificationUserId: 309e4d90-da16-11ed-8e4f-8339a1bc8d58
                      subjectAlternativeNameDns:
                      - venafi.com
                      subjectAlternativeNamesByType:
                        dNSName:
                        - venafi.com
                      subjectC: US
                      subjectCN:
                      - venafi.cloud
                      subjectDN: cn=venafi.cloud,ou=dev,o=Venafi,c=US,st=Utah,l=Salt Lake City
                      subjectKeyIdentifierHash: C1EBF01EB166455AAFB6B8D7EFB5CDF78E7A930B
                      subjectL: Salt Lake City
                      subjectO: Venafi
                      subjectOU:
                      - dev
                      subjectST: Utah
                      totalActiveInstanceCount: 0
                      totalInstanceCount: 1
                      validityEnd: '2023-07-10T00:05:39.000+00:00'
                      validityStart: '2023-04-21T00:05:09.000+00:00'
                      versionType: CURRENT
                    count: 1
              schema:
                $ref: '#/components/schemas/CertificateResponse'
          description: Certificate response.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            text/csv:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Request conditions failed.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            text/csv:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Request conditions failed.
      security:
      - tppl-api-key: []
      summary: Retrieve certificate data matching search criteria
      tags:
      - Certificates
components:
  schemas:
    Condition:
      description: A Condition for filtering
      properties:
        field:
          description: Represents a field for filtering
          example: certificateName
          type: string
        operator:
          description: An operator for filtering
          enum:
          - EQ
          - LT
          - LTE
          - GT
          - GTE
          - MATCH
          - FIND
          - IN
          example: EQ
          type: string
        value:
          description: represents a field's value
          example: venafi.com
          type: string
        values:
          description: represents a field's values
          example:
          - venafi.com
          - www.venafi.com
          items:
            type: string
          type: array
      type: object
    ExtendedCertificateInformation:
      properties:
        applicationIds:
          description: A collection of application IDs
          example:
          - 561baf7c-98b7-49af-ab9c-7b3a9fea3028
          - 4adeba6f-0c94-4595-a5b6-babea458249f
          items:
            format: uuid
            type: string
          type: array
        archivedDate:
          description: The date a certificate was archived
          example: '2022-05-24T09:12:28Z'
          format: date-time
          type: string
        authorityKeyIdentifierHash:
          description: An authority key identifier hash
          example: 40572B10F85DDAF18BFF987372178532AB875BCA
          type: string
        certificateAuthorityAccountId:
          description: UUID  of a certificate authority account
          format: uuid
          type: string
        certificateName:
          description: A certificate name
          example: venafi.com
          type: string
        certificateRequestId:
          description: UUID  of a certificate request
          example: 2e8964a0-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        certificateStatus:
          description: Certificate's status
          enum:
          - ACTIVE
          - RETIRED
          - DELETED
          example: ACTIVE
          type: string
        companyId:
          description: UUID  of a company
          example: 85595df0-8e14-11ed-87e3-755db050f29d
          format: uuid
          type: string
        dekHash:
          description: A certificate dek hash
          example: RaBDrLmQ69hACXOrPU6542RBT-M-yZOkw4XKsT-r55i=
          type: string
        encryptionType:
          description: A certificate encryption type
          enum:
          - RSA
          - DSA
          - EC
          - GOST3410
          - ECGOST3410
          - RESERVED3
          - UNKNOWN
          example: EC
          type: string
        extendedKeyUsage:
          description: A collection of certificate extended key usages
          example:
          - 1.3.6.1.5.5.7.3.2
          - 1.3.6.1.5.5.7.3.1
          items:
            type: string
          type: array
        fingerprint:
          description: A certificate fingerprint
          example: 6D4C95512C117B004191F1A096ECAD13242FCD9F
          type: string
        id:
          description: UUID of a certificate
          example: 2eb29780-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        inhibitAnyPolicy:
          description: Inhibit any policy
          example: 150
          format: int32
          type: integer
        inhibitPolicyMapping:
          description: Inhibit policy mapping
          example: 200
          format: int32
          type: integer
        instances:
          description: A collection of certificate instances information
          example:
          - certificateId: 7ec12010-9051-11ed-8e50-b994b27d2ece
            certificateInstanceId: 7ec1bc50-9051-11ed-8e50-b994b27d2ece
            certificateSource: USER_SCAN
            deploymentStatus: IN_USE
            hostname: venafi.com
            instanceChainValidationStatus:
            - OK
            ipAddress: 23.185.0.2
            lastScanDate: '2023-01-09T19:12:05.314+00:00'
            lastValidatedAttempt: '2023-01-09T19:12:05.446+00:00'
            modificationDate: '2023-01-09T19:12:14.865+00:00'
            port: 443
            serviceIds:
            - 1d61e9e0-9046-11ed-bf12-53a1b041cf25
            sslProtocols:
            - TLSv1.3
            - TLSv1.2
            sslValidationErrorArguments: []
            sslValidationStatus: OK
          items:
            $ref: '#/components/schemas/CertificateInstanceInformation'
          type: array
        issuerAlternativeNameDns:
          description: A collection of certificate issuer alternative names DNs
          example:
          - venafi.com
          - www.venafi.com
          items:
            type: string
          type: array
        issuerAlternativeNameNonDns:
          description: A collection of certificate issuer alternative name none DNs
          example:
          - venafi issuer doman
          items:
            type: string
          type: array
        issuerC:
          description: A certificate issues Country
          example: US
          type: string
        issuerCN:
          description: A collection of certificate issuer Common names
          example:
          - HydrantID SSL CA G3
          items:
            type: string
          type: array
        issuerCertificateIds:
          description: A collection of issuer certificate IDs
          example:
          - 2e8964a0-9046-11ed-8e50-b994b27d2ece
          - d5b418a0-297e-11eb-bc4c-8b24e5a66fb6
          items:
            format: uuid
            type: string
          type: array
        issuerCertificates:
          description: A collection of certificate information
          items:
            $ref: '#/components/schemas/CertificateInformation'
          type: array
        issuerDN:
          description: A certificate issue DN
          example: cn=HydrantID SSL CA G3,o=HydrantID (Avalanche Cloud Corporation),c=US
          type: string
        issuerL:
          description: A certificate issues Locality
          example: Salt Lake City
          type: string
        issuerOU:
          description: A collection of certificate issuer Organization units
          example:
          - Issuer CA
          items:
            type: string
          type: array
        issuerST:
          description: A certificate issuer State
          example: Utah
          type: string
        keyCurve:
          description: A certificate key curve
          enum:
          - P256
          - P384
          - P521
          - ED25519
          - UNKNOWN
          example: P256
          type: string
        keyStrength:
          description: A certificate key strength
          example: 2048
          format: int32
          type: integer
        keyUsage:
          description: A collection of certificate key usages
          example:
          - digitalSignature
          - keyEncipherment
          items:
            type: string
          type: array
        lastNotification:
          format: int32
          type: integer
        managedCertificateId:
          description: UUID  of a managed certificate
          example: 2f0e7320-9046-11ed-8ab8-19e0a618d9cd
          format: uuid
          type: string
        modificationDate:
          description: The last date a certificate was modified
          example: '2022-03-24T09:12:28Z'
          format: date-time
          type: string
        ocspNoCheck:
          description: If a certificate no ocsp check
          example: false
          type: boolean
        ownership:
          $ref: '#/components/schemas/CertificateOwnership'
        pathLength:
          description: A certificate path length
          example: 3
          format: int32
          type: integer
        requireExplicitPolicy:
          description: Required explicit policy is required
          example: 1
          format: int32
          type: integer
        selfSigned:
          description: If the certificate is self singed
          example: true
          type: boolean
        serialNumber:
          description: A certificate serial number
          example: 0C51A562B02A19A222FFB4730C47A8E2
          type: string
        signatureAlgorithm:
          description: A certificate signature algorithm
          enum:
          - MD2_WITH_RSA_ENCRYPTION
          - MD5_WITH_RSA_ENCRYPTION
          - SHA1_WITH_RSA_ENCRYPTION
          - SHA1_WITH_RSA_ENCRYPTION2
          - SHA256_WITH_RSA_ENCRYPTION
          - SHA384_WITH_RSA_ENCRYPTION
          - SHA512_WITH_RSA_ENCRYPTION
          - ID_DSA_WITH_SHA1
          - dsaWithSHA1
          - EC_DSA_WITH_SHA1
          - EC_DSA_WITH_SHA224
          - EC_DSA_WITH_SHA256
          - EC_DSA_WITH_SHA384
          - EC_DSA_WITH_SHA512
          - UNKNOWN
          - SHA1_WITH_RSAandMGF1
          - GOST_R3411_94_WITH_GOST_R3410_2001
          - GOST_R3411_94_WITH_GOST_R3410_94
          example: SHA256_WITH_RSA_ENCRYPTION
          type: string
        signatureHashAlgorithm:
          description: A certificate signature hash algorithm
          enum:
          - MD5
          - SHA1
          - MD2
          - SHA224
          - SHA256
          - SHA384
          - SHA512
          - UNKNOWN
          - GOSTR3411_94
          example: SHA256
          type: string
        statusModificationDate:
          description: The date a certificate's status was modified
          example: '2022-04-24T09:12:28Z'
          format: date-time
          type: string
        statusModificationUserId:
          description: UUID of the user that modified the certificate installation
          example: 3c9964a0-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        subjectAlternativeNameDns:
          description: A collection of certificate subject alternative names DNs
          example:
          - venafi.com
          - www.venafi.com
          items:
            type: string
          type: array
        subjectAlternativeNameNonDns:
          description: A collection of certificate subject alternative name none DNs
          example:
          - venafi domain
          items:
            type: string
          type: array
        subjectAlternativeNamesByType:
          $ref: '#/components/schemas/GeneralNamesData1'
        subjectC:
          description: A certificate subject Country
          example: US
          type: string
        subjectCN:
          description: A collection of certificate subject CNs
          example:
          - venafi.com
          - cloud.venafi
          items:
            type: string
          type: array
        subjectDN:
          description: A certificate subject DN
          example: cn=www.venafi.com,o=Venafi, Inc.,c=US,st=Utah,l=Salt Lake City
          type: string
        subjectKeyIdentifierHash:
          description: A subject key identifier hash
          example: 4E0CE93D3240561F468C33A85F08FCD3B04CC9DC
          type: string
        subjectL:
          description: A certificate subject Locality
          example: Salt Lake City
          type: string
        subjectO:
          description: A certificate subject Organization
          example: Venafi, Inc.
          type: string
        subjectOU:
          description: A collection of certificate subject Organization units
          example:
          - devops
          - test
          items:
            type: string
          type: array
        subjectST:
          description: A certificate subject State
          example: Utah
          type: string
        tags:
          description: A collection of tags
          example:
          - owner:test.user
          - 90-day
          items:
            type: string
          type: array
        totalActiveInstanceCount:
          description: total active instances of a certificate
          example: 50
          format: int32
          type: integer
        totalInstanceCount:
          description: total instances of a certificate
          example: 100
          format: int32
          type: integer
        validityEnd:
          description: The date a certificate validity ends
          example: '2023-01-24T09:12:28Z'
          format: date-time
          type: string
        validityStart:
          description: The date a certificate validity starts
          example: '2022-01-24T09:12:28Z'
          format: date-time
          type: string
        versionType:
          description: A certificate version type
          enum:
          - OLD
          - CURRENT
          example: CURRENT
          type: string
      type: object
    ErrorResponse4:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorInformation3'
          type: array
      type: object
    AnyValue3:
      description: Can be any value - string, number, boolean, array or object.
    ExtendedApplicationOwnership:
      properties:
        id:
          format: uuid
          type: string
        owningTeams:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        owningUsers:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        type:
          type: string
      type: object
    CertificateValidationRequest:
      properties:
        certificateIds:
          description: 'A collection of certificates UUIDs  '
          example:
          - f2b42d60-df9c-11ed-b8ab-4788d83ace9f
          - f2c173d0-df9c-11ed-b8ab-4788d83ace9f
          items:
            format: uuid
            type: string
          type: array
      required:
      - certificateIds
      type: object
    CertificateInformation:
      properties:
        applicationIds:
          description: A collection of application IDs
          example:
          - 561baf7c-98b7-49af-ab9c-7b3a9fea3028
          - 4adeba6f-0c94-4595-a5b6-babea458249f
          items:
            format: uuid
            type: string
          type: array
        archivedDate:
          description: The date a certificate was archived
          example: '2022-05-24T09:12:28Z'
          format: date-time
          type: string
        authorityKeyIdentifierHash:
          description: An authority key identifier hash
          example: 40572B10F85DDAF18BFF987372178532AB875BCA
          type: string
        certificateAuthorityAccountId:
          description: UUID  of a certificate authority account
          format: uuid
          type: string
        certificateName:
          description: A certificate name
          example: venafi.com
          type: string
        certificateRequestId:
          description: UUID  of a certificate request
          example: 2e8964a0-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        certificateStatus:
          description: Certificate's status
          enum:
          - ACTIVE
          - RETIRED
          - DELETED
          example: ACTIVE
          type: string
        companyId:
          description: UUID  of a company
          example: 85595df0-8e14-11ed-87e3-755db050f29d
          format: uuid
          type: string
        dekHash:
          description: A certificate dek hash
          example: RaBDrLmQ69hACXOrPU6542RBT-M-yZOkw4XKsT-r55i=
          type: string
        encryptionType:
          description: A certificate encryption type
          enum:
          - RSA
          - DSA
          - EC
          - GOST3410
          - ECGOST3410
          - RESERVED3
          - UNKNOWN
          example: EC
          type: string
        extendedKeyUsage:
          description: A collection of certificate extended key usages
          example:
          - 1.3.6.1.5.5.7.3.2
          - 1.3.6.1.5.5.7.3.1
          items:
            type: string
          type: array
        fingerprint:
          description: A certificate fingerprint
          example: 6D4C95512C117B004191F1A096ECAD13242FCD9F
          type: string
        id:
          description: UUID of a certificate
          example: 2eb29780-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        inhibitAnyPolicy:
          description: Inhibit any policy
          example: 150
          format: int32
          type: integer
        inhibitPolicyMapping:
          description: Inhibit policy mapping
          example: 200
          format: int32
          type: integer
        instances:
          description: A collection of certificate instances information
          example:
          - certificateId: 7ec12010-9051-11ed-8e50-b994b27d2ece
            certificateInstanceId: 7ec1bc50-9051-11ed-8e50-b994b27d2ece
            certificateSource: USER_SCAN
            deploymentStatus: IN_USE
            hostname: venafi.com
            instanceChainValidationStatus:
            - OK
            ipAddress: 23.185.0.2
            lastScanDate: '2023-01-09T19:12:05.314+00:00'
            lastValidatedAttempt: '2023-01-09T19:12:05.446+00:00'
            modificationDate: '2023-01-09T19:12:14.865+00:00'
            port: 443
            serviceIds:
            - 1d61e9e0-9046-11ed-bf12-53a1b041cf25
            sslProtocols:
            - TLSv1.3
            - TLSv1.2
            sslValidationErrorArguments: []
            sslValidationStatus: OK
          items:
            $ref: '#/components/schemas/CertificateInstanceInformation'
          type: array
        issuerAlternativeNameDns:
          description: A collection of certificate issuer alternative names DNs
          example:
          - venafi.com
          - www.venafi.com
          items:
            type: string
          type: array
        issuerAlternativeNameNonDns:
          description: A collection of certificate issuer alternative name none DNs
          example:
          - venafi issuer doman
          items:
            type: string
          type: array
        issuerC:
          description: A certificate issues Country
          example: US
          type: string
        issuerCN:
          description: A collection of certificate issuer Common names
          example:
          - HydrantID SSL CA G3
          items:
            type: string
          type: array
        issuerCertificateIds:
          description: A collection of issuer certificate IDs
          example:
          - 2e8964a0-9046-11ed-8e50-b994b27d2ece
          - d5b418a0-297e-11eb-bc4c-8b24e5a66fb6
          items:
            format: uuid
            type: string
          type: array
        issuerDN:
          description: A certificate issue DN
          example: cn=HydrantID SSL CA G3,o=HydrantID (Avalanche Cloud Corporation),c=US
          type: string
        issuerL:
          description: A certificate issues Locality
          example: Salt Lake City
          type: string
        issuerOU:
          description: A collection of certificate issuer Organization units
          example:
          - Issuer CA
          items:
            type: string
          type: array
        issuerST:
          description: A certificate issuer State
          example: Utah
          type: string
        keyCurve:
          description: A certificate key curve
          enum:
          - P256
          - P384
          - P521
          - ED25519
          - UNKNOWN
          example: P256
          type: string
        keyStrength:
          description: A certificate key strength
          example: 2048
          format: int32
          type: integer
        keyUsage:
          description: A collection of certificate key usages
          example:
          - digitalSignature
          - keyEncipherment
          items:
            type: string
          type: array
        lastNotification:
          format: int32
          type: integer
        managedCertificateId:
          description: UUID  of a managed certificate
          example: 2f0e7320-9046-11ed-8ab8-19e0a618d9cd
          format: uuid
          type: string
        modificationDate:
          description: The last date a certificate was modified
          example: '2022-03-24T09:12:28Z'
          format: date-time
          type: string
        ocspNoCheck:
          description: If a certificate no ocsp check
          example: false
          type: boolean
        ownership:
          $ref: '#/components/schemas/CertificateOwnership'
        pathLength:
          description: A certificate path length
          example: 3
          format: int32
          type: integer
        requireExplicitPolicy:
          description: Required explicit policy is required
          example: 1
          format: int32
          type: integer
        selfSigned:
          description: If the certificate is self singed
          example: true
          type: boolean
        serialNumber:
          description: A certificate serial number
          example: 0C51A562B02A19A222FFB4730C47A8E2
          type: string
        signatureAlgorithm:
          description: A certificate signature algorithm
          enum:
          - MD2_WITH_RSA_ENCRYPTION
          - MD5_WITH_RSA_ENCRYPTION
          - SHA1_WITH_RSA_ENCRYPTION
          - SHA1_WITH_RSA_ENCRYPTION2
          - SHA256_WITH_RSA_ENCRYPTION
          - SHA384_WITH_RSA_ENCRYPTION
          - SHA512_WITH_RSA_ENCRYPTION
          - ID_DSA_WITH_SHA1
          - dsaWithSHA1
          - EC_DSA_WITH_SHA1
          - EC_DSA_WITH_SHA224
          - EC_DSA_WITH_SHA256
          - EC_DSA_WITH_SHA384
          - EC_DSA_WITH_SHA512
          - UNKNOWN
          - SHA1_WITH_RSAandMGF1
          - GOST_R3411_94_WITH_GOST_R3410_2001
          - GOST_R3411_94_WITH_GOST_R3410_94
          example: SHA256_WITH_RSA_ENCRYPTION
          type: string
        signatureHashAlgorithm:
          description: A certificate signature hash algorithm
          enum:
          - MD5
          - SHA1
          - MD2
          - SHA224
          - SHA256
          - SHA384
          - SHA512
          - UNKNOWN
          - GOSTR3411_94
          example: SHA256
          type: string
        statusModificationDate:
          description: The date a certificate's status was modified
          example: '2022-04-24T09:12:28Z'
          format: date-time
          type: string
        statusModificationUserId:
          description: UUID of the user that modified the certificate installation
          example: 3c9964a0-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        subjectAlternativeNameDns:
          description: A collection of certificate subject alternative names DNs
          example:
          - venafi.com
          - www.venafi.com
          items:
            type: string
          type: array
        subjectAlternativeNameNonDns:
          description: A collection of certificate subject alternative name none DNs
          example:
          - venafi domain
          items:
            type: string
          type: array
        subjectAlternativeNamesByType:
          $ref: '#/components/schemas/GeneralNamesData1'
        subjectC:
          description: A certificate subject Country
          example: US
          type: string
        subjectCN:
          description: A collection of certificate subject CNs
          example:
          - venafi.com
          - cloud.venafi
          items:
            type: string
          type: array
        subjectDN:
          description: A certificate subject DN
          example: cn=www.venafi.com,o=Venafi, Inc.,c=US,st=Utah,l=Salt Lake City
          type: string
        subjectKeyIdentifierHash:
          description: A subject key identifier hash
          example: 4E0CE93D3240561F468C33A85F08FCD3B04CC9DC
          type: string
        subjectL:
          description: A certificate subject Locality
          example: Salt Lake City
          type: string
        subjectO:
          description: A certificate subject Organization
          example: Venafi, Inc.
          type: string
        subjectOU:
          description: A collection of certificate subject Organization units
          example:
          - devops
          - test
          items:
            type: string
          type: array
        subjectST:
          description: A certificate subject State
          example: Utah
          type: string
        tags:
          description: A collection of tags
          example:
          - owner:test.user
          - 90-day
          items:
            type: string
          type: array
        totalActiveInstanceCount:
          description: total active instances of a certificate
          example: 50
          format: int32
          type: integer
        totalInstanceCount:
          description: total instances of a certificate
          example: 100
          format: int32
          type: integer
        validityEnd:
          description: The date a certificate validity ends
          example: '2023-01-24T09:12:28Z'
          format: date-time
          type: string
        validityStart:
          description: The date a certificate validity starts
          example: '2022-01-24T09:12:28Z'
          format: date-time
          type: string
        versionType:
          description: A certificate version type
          enum:
          - OLD
          - CURRENT
          example: CURRENT
          type: string
      type: object
    CertificateValidationResponse:
      properties:
        fingerprints:
          description: A collection of certificate's fingerprints
          example:
          - 2C85B0AD64F55AA70BAC75F69711578DC505C3F9
          - 051ECFBD202B0383A7745F479F978C8E9FA9ADE1
          items:
            type: string
          type: array
      type: object
    Order:
      properties:
        direction:
          description: An ordering direction
          enum:
          - ASC
          - DESC
          example: DESC
          type: string
        field:
          description: A field, that will be used for ordering
          example: modificationDate
          type: string
      type: object
    CertificateRecoveryRequest:
      properties:
        applicationIds:
          description: A collection of applications UUIDs
          example:
          - 47c9d920-da21-11ed-a63c-d508f08eeaa0
          - 9303e940-df9d-11ed-8850-f18176fc5513
          items:
            format: uuid
            type: string
          type: array
        certificateIds:
          description: A collection of certificates UUIDs
          example:
          - f2b42d60-df9c-11ed-b8ab-4788d83ace9f
          - f2c173d0-df9c-11ed-b8ab-4788d83ace9f
          items:
            format: uuid
            type: string
          type: array
      required:
      - certificateIds
      type: object
    CertificateDeletionRequest:
      properties:
        certificateIds:
          description: A collection of certificates UUIDs
          example:
          - f2b42d60-df9c-11ed-b8ab-4788d83ace9f
          - f2c173d0-df9c-11ed-b8ab-4788d83ace9f
          items:
            format: uuid
            type: string
          type: array
      required:
      - certificateIds
      type: object
    GeneralNamesData1:
      description: A certificate subject alternative name by type
      example:
        dNSName:
        - www.venafi.com
        - venafi.com
      properties:
        dNSName:
          items:
            type: string
          type: array
        directoryName:
          items:
            type: string
          type: array
        ediPartyName:
          items:
            type: string
          type: array
        iPAddress:
          items:
            type: string
          type: array
        otherName:
          items:
            type: string
          type: array
        registeredID:
          items:
            type: string
          type: array
        rfc822Name:
          items:
            type: string
          type: array
        uniformResourceIdentifier:
          items:
            type: string
          type: array
        x400Address:
          items:
            type: string
          type: array
      type: object
    CertificateOwnership:
      properties:
        owningContainers:
          items:
            $ref: '#/components/schemas/ExtendedApplicationOwnership'
          type: array
          uniqueItems: true
      type: object
    BaseOrdering:
      description: Specify the ordering of a search result
      properties:
        orders:
          items:
            $ref: '#/components/schemas/Order'
          type: array
      type: object
    CertificateInstanceInformation:
      properties:
        applicationIds:
          description: A collection of application IDs
          example:
          - d3cce873-6957-4071-a65e-7676c0ae1123
          - 322bcd99-286a-47ea-8dcd-8291ec5bff14
          items:
            format: uuid
            type: string
          type: array
        certificateId:
          description: UUID of a certificate
          example: 2eb29780-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        certificateInstanceId:
          description: UUID of a certificate instance
          example: f68daf30-4690-45bc-85b3-bb327024735e
          format: uuid
          type: string
        certificateSource:
          description: Certificate source
          enum:
          - UNKNOWN
          - USER_PROVIDED
          - USER_IMPORTED
          - USER_SCAN
          - TRUSTNET_SCAN
          - ON_PREM_CA_IMPORT
          - EXTERNAL_CA_IMPORT
          - FILE_IMPORT
          - EXTERNAL_SCAN
          - DOMAIN_SCAN
          - SMART_SCAN_INTERNAL
          - SMART_SCAN_EXTERNAL
          - SMART_VALIDATION_INTERNAL
          - SMART_VALIDATION_EXTERNAL
          - MACHINE_DISCOVERY
          - KUBERNETES_DISCOVERY
          - AWS_DISCOVERY
          - AZURE_DISCOVERY
          - GCP_DISCOVERY
          example: USER_SCAN
          type: string
        deploymentStatus:
          description: The deployment status
          enum:
          - UNKNOWN
          - IN_USE
          - SUPERSEDED
          example: IN_USE
          type: string
        hostname:
          description: A hostname
          example: venafi.com
          type: string
        instanceChainValidationStatus:
          description: A collection of the instance chain validation status
          example:
          - OK
          items:
            enum:
            - OK
            - CHAIN_BUILDING_FAILED
            - INCOMPLETE_CHAIN
            - CHAIN_EXPIRE_BEFORE_EE
            - DISTRUSTED
            - UNKNOWN_ERROR
            - SELF_SIGNED
            type: string
          type: array
        ipAddress:
          description: An ip address
          example: 14.183.1.32
          type: string
        lastScanDate:
          description: The last scan date
          example: '2023-01-10T09:12:28Z'
          format: date-time
          type: string
        lastValidatedAttempt:
          description: The last validation attempt date
          example: '2023-01-11T09:12:28Z'
          format: date-time
          type: string
        modificationDate:
          description: The last modification date
          example: '2023-01-10T09:12:28Z'
          format: date-time
          type: string
        port:
          description: A port number
          example: 443
          format: int32
          type: integer
        serviceIds:
          description: A collection of service IDs
          example:
          - 1d61e9e0-9046-11ed-bf12-53a1b041cf2
          items:
            format: uuid
            type: string
          type: array
        sslProtocols:
          description: A collection of ssl protocols
          example:
          - TLSv1.1
          - TLSv1.2
          items:
            type: string
          type: array
        sslValidationErrorArguments:
          description: A collection of ssl validation error arguments
          example:
          - B69950CC5F51EDDF55F36AD2BC898767BC43CC2A
          - 24E5796GA7298E78EDE47D6FAED0790E8F464G54
          items:
            type: string
          type: array
        sslValidationStatus:
          description: SSL validation status
          enum:
          - HOSTNAME_NOT_RESOLVABLE
          - NO_CERTIFICATE_PRESENTED
          - INVALID_CERTIFICATE_FOUND
          - UNEXPECTED_CERTIFICATE_FOUND
          - OLD_VERSION_CERTIFICATE_FOUND
          - TARGET_UNREACHABLE
          - UNKNOWN_ERROR
          - OK
          example: OK
          type: string
        sslValidationStatusMessage:
          description: SSL validation status message
          example: Certificate installation is using older versions of certificate
          type: string
      type: object
    Page2:
      description: Specify pagination on the search request
      properties:
        pageNumber:
          description: page number
          example: 0
          format: int32
          type: integer
        pageSize:
          description: page size
          example: 10
          format: int32
          type: integer
      type: object
    BaseFilter:
      description: Root expression for filtering
      oneOf:
      - $ref: '#/components/schemas/FilterOperands'
      - $ref: '#/components/schemas/FilterOperand'
      - $ref: '#/components/schemas/Condition'
      type: object
    ErrorInformation3:
      properties:
        args:
          items:
            $ref: '#/components/schemas/AnyValue3'
          type: array
        code:
          format: int32
          type: integer
        message:
          type: string
      type: object
    Filter2:
      properties:
        expression:
          $ref: '#/components/schemas/BaseFilter'
        ordering:
          $ref: '#/components/schemas/BaseOrdering'
        paging:
          $ref: '#/components/schemas/Page2'
      type: object
    CertificateResponse:
      properties:
        certificates:
          description: A collection of certificates
          items:
            $ref: '#/components/schemas/CertificateInformation'
          type: array
        count:
          description: The number of certificates.
          example: 2
          format: int32
          type: integer
      type: object
    FilterOperand:
      properties:
        operand:
          $ref: '#/components/schemas/Condition'
        operator:
          description: An operator for filtering
          enum:
          - NOT
          example: NOT
          type: string
      type: object
    FilterOperands:
      properties:
        operands:
          description: A list of conditions that will be used for filtering
          example:
          - field: certificateStatus
            operator: EQ
            value: ACTIVE
          - field: certificateName
            operator: EQ
            value: venafi.com
          items:
            $ref: '#/components/schemas/BaseFilter'
          type: array
        operator:
          description: An operator for filtering
          enum:
          - AND
          - OR
          example: OR
          type: string
      type: object
    CertificateRetirementRequest:
      properties:
        addToBlocklist:
          description: This parameter ensures the deleted certificate will not be discovered again.
          example: true
          type: boolean
        certificateIds:
          description: A collection of certificates UUIDs
          example:
          - f2b42d60-df9c-11ed-b8ab-4788d83ace9f
          - f2c173d0-df9c-11ed-b8ab-4788d83ace9f
          items:
            format: uuid
            type: string
          type: array
      required:
      - certificateIds
      type: object
  securitySchemes:
    service-account:
      in: header
      name: service-account
      type: apiKey
    tppl-api-key:
      in: header
      name: tppl-api-key
      type: apiKey
x-readme:
  samples-languages:
  - curl
  - go
  - java
  - javascript
  - node
  - python
