openapi: 3.2.0
info:
  title: Certificate Manager - SaaS Tags API
  version: '1.0'
servers:
- description: US Region
  url: https://api.venafi.cloud
- description: EU Region
  url: https://api.eu.venafi.cloud
- description: AU Region
  url: https://api.au.venafi.cloud
- description: UK Region
  url: https://api.uk.venafi.cloud
- description: SG Region
  url: https://api.sg.venafi.cloud
- description: CA Region
  url: https://api.ca.venafi.cloud
tags:
- name: Tags
paths:
  /v1/tags:
    get:
      description: Retrieve details of all available tags
      operationId: tags_getAll
      responses:
        '200':
          content:
            application/json:
              examples:
                The count and the properties of the tags.:
                  description: The count and the properties of the tags.
                  summary: The count and the properties of the tags.
                  value:
                    count: 1
                    tags:
                    - companyId: 03eb6e61-9806-11ed-84f2-c747fb71e467
                      id: 7b80e0b0-a08d-11ed-bbc0-252385d6d389
                      isReserved: false
                      key: application
                      name: Application
              schema:
                $ref: '#/components/schemas/TagResponse'
          description: Details of tags in response body
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
      security:
      - tppl-api-key: []
      summary: Retrieve all tags
      tags:
      - Tags
      x-rbac:
        permissions:
          access_type: read
          description: Ability to get tags
          name: ngts.tag.get
        roles:
        - PKIAdmin
        - PlatformAdmin
        - ResourceOwner
        - Guest
    post:
      description: Create tag with optional values
      operationId: tags_create
      requestBody:
        content:
          application/json:
            examples:
              An example for creation of new tag with values.:
                description: An example for creation of new tag with values.
                value:
                  name: Application
                  values:
                  - TLS Protect
                  - Jetstack
              An example for creation of new tag.:
                description: An example for creation of new tag.
                value:
                  name: Application
            schema:
              $ref: '#/components/schemas/TagRequest'
        description: Properties of the new tag.
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                Properties of the created tag.:
                  description: Properties of the created tag.
                  summary: Properties of the created tag.
                  value:
                    companyId: 03eb6e61-9806-11ed-84f2-c747fb71e467
                    id: 92730dc0-a08d-11ed-bbc0-252385d6d389
                    isReserved: false
                    key: application
                    name: Application
              schema:
                $ref: '#/components/schemas/TagInformation'
          description: Tag is created. Details in response body
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
      security:
      - tppl-api-key: []
      summary: Create a tag
      tags:
      - Tags
      x-rbac:
        permissions:
          access_type: write
          description: Ability to create tags
          name: ngts.tag.create
        roles:
        - PKIAdmin
        - PlatformAdmin
        - ResourceOwner
  /v1/tags/{name}:
    get:
      description: Retrieve a tag with 'name' attribute matching a specified value
      operationId: tags_getByName
      parameters:
      - description: Name of the tag.
        in: path
        name: name
        required: true
        schema:
          description: Name of the tag.
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Properties of the tag.:
                  description: Properties of the tag.
                  summary: Properties of the tag.
                  value:
                    companyId: 03eb6e61-9806-11ed-84f2-c747fb71e467
                    id: 7268d820-a08d-11ed-bbc0-252385d6d389
                    isReserved: false
                    key: application
                    name: Application
              schema:
                $ref: '#/components/schemas/TagInformation'
          description: Details of tag in response body
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Tag not found
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
      security:
      - tppl-api-key: []
      summary: Retrieve tag by name
      tags:
      - Tags
      x-rbac:
        permissions:
          access_type: read
          description: Ability to get tags
          name: ngts.tag.get
        roles:
        - PKIAdmin
        - PlatformAdmin
        - ResourceOwner
        - Guest
    delete:
      description: Delete a tag with 'name' attribute matching a specified value
      operationId: tags_deleteByName
      parameters:
      - description: Name of the tag.
        in: path
        name: name
        required: true
        schema:
          description: Name of the tag.
          type: string
      responses:
        '202':
          description: Tag is deleted
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Tag not found
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
      security:
      - tppl-api-key: []
      summary: Delete tag by name
      tags:
      - Tags
      x-rbac:
        permissions:
          access_type: write
          description: Ability to delete tags
          name: ngts.tag.delete
        roles:
        - PKIAdmin
  /v1/tags/{name}/values:
    get:
      description: Retrieve tag values for a tag with 'name' attribute matching specified value
      operationId: tags_get_values
      parameters:
      - description: Name of the tag.
        in: path
        name: name
        required: true
        schema:
          description: Name of the tag.
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                The count and the properties of the values.:
                  description: The count and the properties of the values.
                  summary: The count and the properties of the values.
                  value:
                    count: 2
                    values:
                    - companyId: 03eb6e61-9806-11ed-84f2-c747fb71e467
                      id: 01e2f810-a0b5-11ed-bbc0-252385d6d389
                      tagId: 7268d820-a08d-11ed-bbc0-252385d6d389
                      value: TLS Protect
                    - companyId: 03eb6e61-9806-11ed-84f2-c747fb71e467
                      id: 01e2f810-a0b5-11ed-bbc0-252385d6d388
                      tagId: 7268d820-a08d-11ed-bbc0-252385d6d389
                      value: Jetstack
              schema:
                $ref: '#/components/schemas/TagValuesResponse'
          description: Tag values in response body
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Tag not found
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
      security:
      - tppl-api-key: []
      summary: Retrieve values for a tag
      tags:
      - Tags
      x-rbac:
        permissions:
          access_type: read
          description: Ability to get tag values of a tag
          name: ngts.tag_values.get
        roles:
        - PKIAdmin
        - PlatformAdmin
        - ResourceOwner
        - Guest
    post:
      description: Create tag values for a tag with 'name' attribute matching specified value
      operationId: tag_values_create
      parameters:
      - description: Name of the tag.
        in: path
        name: name
        required: true
        schema:
          description: Name of the tag.
          type: string
      requestBody:
        content:
          application/json:
            examples:
              An example for creation of new values for a tag.:
                description: An example for creation of new values for a tag.
                value:
                  values:
                  - TLS Protect
                  - Jetstack
            schema:
              $ref: '#/components/schemas/TagValuesRequest'
        description: The values of the tag.
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                The count and the properties of the created values.:
                  description: The count and the properties of the created values.
                  summary: The count and the properties of the created values.
                  value:
                    count: 1
                    values:
                    - companyId: 03eb6e61-9806-11ed-84f2-c747fb71e467
                      id: 01e2f810-a0b5-11ed-bbc0-252385d6d389
                      tagId: 7268d820-a08d-11ed-bbc0-252385d6d389
                      value: TLS Protect
                    - companyId: 03eb6e61-9806-11ed-84f2-c747fb71e467
                      id: 01e2f810-a0b5-11ed-bbc0-252385d6d388
                      tagId: 7268d820-a08d-11ed-bbc0-252385d6d389
                      value: Jetstack
              schema:
                $ref: '#/components/schemas/TagValuesResponse'
          description: Tag values created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
      security:
      - tppl-api-key: []
      summary: Create tag values
      tags:
      - Tags
      x-rbac:
        permissions:
          access_type: write
          description: Ability to create tag values
          name: ngts.tag_values.create
        roles:
        - PKIAdmin
        - PlatformAdmin
        - ResourceOwner
  /v1/tags/{name}/values/{value}:
    delete:
      description: Delete a value associated with a tag
      operationId: tags_deleteValueByName
      parameters:
      - description: Name of the tag
        in: path
        name: name
        required: true
        schema:
          description: Name of the tag
          type: string
      - description: Name of the value to delete
        in: path
        name: value
        required: true
        schema:
          description: Name of the value to delete
          type: string
      responses:
        '202':
          description: Tag value deleted
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Tag not found
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
      security:
      - tppl-api-key: []
      summary: Delete a tag value
      tags:
      - Tags
      x-rbac:
        permissions:
          access_type: write
          description: Ability to delete tag values
          name: ngts.tag_values.delete
        roles:
        - PKIAdmin
  /v1/tags/values:
    get:
      description: Retrieve tag values for all tags
      operationId: tags_getAllValues
      responses:
        '200':
          content:
            application/json:
              examples:
                The count and the properties of the values.:
                  description: The count and the properties of the values.
                  summary: The count and the properties of the values.
                  value:
                    count: 2
                    values:
                    - companyId: 03eb6e61-9806-11ed-84f2-c747fb71e467
                      id: 01e2f810-a0b5-11ed-bbc0-252385d6d389
                      tagId: 7268d820-a08d-11ed-bbc0-252385d6d389
                      value: TLS Protect
                    - companyId: 03eb6e61-9806-11ed-84f2-c747fb71e467
                      id: 01e2f810-a0b5-11ed-bbc0-252385d6d388
                      tagId: 7268d820-a08d-11ed-bbc0-252385d6d389
                      value: Jetstack
              schema:
                $ref: '#/components/schemas/TagValuesResponse'
          description: Tag values in response body
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
      security:
      - tppl-api-key: []
      summary: Retrieve values for all tags
      tags:
      - Tags
      x-rbac:
        permissions:
          access_type: read
          description: Ability to get values of tags
          name: ngts.tag_values.get
        roles:
        - PKIAdmin
        - PlatformAdmin
        - ResourceOwner
        - Guest
  /v1/tags/creation:
    post:
      description: Create tags in bulk with optional values
      operationId: tags_bulk_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsBulkRequest'
        description: Properties of the new tags.
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                Properties of the created tags.:
                  description: Properties of the created tags.
                  summary: Properties of the created tags.
                  value:
                    tagsAndValues:
                    - tag:
                        companyId: cc8bc150-c003-11ee-8a3a-ed2fabd6a7bf
                        id: c5ffb2b0-c1e3-11ee-b805-8dec6e4b2523
                        isReserved: false
                        key: newtag
                        name: newTag
                      values:
                      - companyId: cc8bc150-c003-11ee-8a3a-ed2fabd6a7bf
                        id: c60b7280-c1e3-11ee-b805-8dec6e4b2523
                        tagId: c5ffb2b0-c1e3-11ee-b805-8dec6e4b2523
                        value: value1
                      - companyId: cc8bc150-c003-11ee-8a3a-ed2fabd6a7bf
                        id: c6105480-c1e3-11ee-b805-8dec6e4b2523
                        tagId: c5ffb2b0-c1e3-11ee-b805-8dec6e4b2523
                        value: value2
                    - tag:
                        companyId: cc8bc150-c003-11ee-8a3a-ed2fabd6a7bf
                        id: 3ba7c8e0-c1e4-11ee-b805-8dec6e4b2523
                        isReserved: false
                        key: oldtag
                        name: oldTag
                      values: []
              schema:
                $ref: '#/components/schemas/TagsAndValuesResponse'
          description: Tags are created. Details in response body
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
      security:
      - tppl-api-key: []
      summary: Create tags in bulk
      tags:
      - Tags
      x-rbac:
        permissions:
          access_type: write
          description: Ability to create tags
          name: ngts.tag.create
        roles:
        - PKIAdmin
        - PlatformAdmin
        - ResourceOwner
  /v1/tags/deletion:
    post:
      description: Delete tags in bulk by specified keys and values
      operationId: tags_bulk_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsBulkRequest'
        description: Properties of the tags to delete.
        required: true
      responses:
        '202':
          description: Tags are deleted
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Tags not found
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
      security:
      - tppl-api-key: []
      summary: Delete tags in bulk
      tags:
      - Tags
      x-rbac:
        permissions:
          access_type: write
          description: Ability to delete tags
          name: ngts.tag.delete
        roles:
        - PKIAdmin
  /v1/tagsassignment:
    patch:
      description: Replace, add, or delete one or more tags or tag values to/from one or more entities
      operationId: tags_assignToEntities
      requestBody:
        content:
          application/json:
            examples:
              An example for add new assignments.:
                description: An example for add new assignments.
                value:
                  action: ADD
                  entityIds:
                  - 2b0ecca0-303a-11ed-ad49-4fd2c6030f7f
                  - 2aaa6580-303a-11ed-ad49-4fd2c6030f7f
                  entityType: CERTIFICATE
                  targetedTags:
                  - Application:TLS Protect
                  - World
              An example for delete all assignments.:
                description: An example for delete all assignments.
                value:
                  action: DELETE_ALL
                  entityIds:
                  - 2b0ecca0-303a-11ed-ad49-4fd2c6030f7f
                  - 2aaa6580-303a-11ed-ad49-4fd2c6030f7f
                  entityType: CERTIFICATE
              An example for delete assignments.:
                description: An example for delete assignments.
                value:
                  action: DELETE
                  entityIds:
                  - 2b0ecca0-303a-11ed-ad49-4fd2c6030f7f
                  - 2aaa6580-303a-11ed-ad49-4fd2c6030f7f
                  entityType: CERTIFICATE
                  targetedTags:
                  - Application:TLS Protect
                  - World
              An example for replace all assignments.:
                description: An example for replace all assignments.
                value:
                  action: REPLACE
                  entityIds:
                  - 2b0ecca0-303a-11ed-ad49-4fd2c6030f7f
                  - 2aaa6580-303a-11ed-ad49-4fd2c6030f7f
                  entityType: CERTIFICATE
                  targetedTags:
                  - Application:TLS Protect
                  - World
            schema:
              $ref: '#/components/schemas/TagsAssignRequest'
        description: Properties of the assignments.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                Properties of the created tag.:
                  description: Properties of the created tag.
                  summary: Properties of the created tag.
                  value:
                    tagsAssignInformation:
                    - companyId: 03eb6e61-9806-11ed-84f2-c747fb71e467
                      creationDate: '2023-01-30T16:28:53.166+00:00'
                      entityId: 265f6d30-a0bb-11ed-aee0-89fe7e5f5d0c
                      entityType: CERTIFICATE
                      modificationDate: '2023-01-30T16:28:53.166+00:00'
                      tags:
                      - Application:TLS Protect
                      - World
              schema:
                $ref: '#/components/schemas/TagsAssignResponse'
          description: Tag assign response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
      security:
      - tppl-api-key: []
      summary: Replace, add, or delete tags or values
      tags:
      - Tags
      x-rbac:
        permissions:
          access_type: write
          description: Ability to update tag assignment
          name: ngts.tag_assignment.update
        roles:
        - PKIAdmin
        - PlatformAdmin
        - ResourceOwner
  /v1/tagsassignment/aggregates:
    post:
      operationId: tags_assignmentAggregates
      requestBody:
        content:
          application/json:
            examples:
              An example to get tags aggregates.:
                description: An example to get tags aggregates.
                summary: An example to get tags aggregates.
                value:
                  entityType: CERTIFICATE
                  tags:
                  - Application:TLS Protect
                  - World
            schema:
              $ref: '#/components/schemas/TagsAssignmentAggregatesRequest'
        description: Entity Type and list of tags and/or tag:value pairs.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                Number of entities specified by type for each tag.:
                  description: Number of entities specified by type for each tag.
                  summary: Number of entities specified by type for each tag.
                  value:
                    tagsAggregates:
                      Application:TLS Protect:
                        count: 5
                        entityType: CERTIFICATE
                      World:
                        count: 2
                        entityType: CERTIFICATE
              schema:
                $ref: '#/components/schemas/TagsAssignmentAggregatesResponse'
          description: Entity type and total count per tag in response body
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
          description: Incomplete or malformed request
      security:
      - tppl-api-key: []
      summary: Bulk operation to retrieve number of entities per tag
      tags:
      - Tags
      x-rbac:
        permissions:
          access_type: read
          description: Ability to get tag assignment aggregate
          name: ngts.tag_assignment_aggregate.get
        roles:
        - PKIAdmin
        - PlatformAdmin
        - ResourceOwner
        - Guest
components:
  schemas:
    TagsAndValuesResponse:
      properties:
        tagsAndValues:
          items:
            $ref: '#/components/schemas/TagsAndValuesInformation'
          type: array
      type: object
    AnyValue5:
      description: Can be any value - string, number, boolean, array or object.
    TagRequest:
      description: Array of tag and tag-value objects
      properties:
        name:
          description: Name of the tag
          example: Application
          minLength: 1
          type: string
        values:
          description: Array of values associated with the tag
          example:
          - TLS Protect
          - Jetstack
          items:
            description: Array of values associated with the tag
            example: '["TLS Protect","Jetstack"]'
            type: string
          type: array
      required:
      - name
      type: object
    TagInformation:
      properties:
        companyId:
          description: UUID specific to your company
          example: 265f6d30-a0bb-11ed-aee0-89fe7e5f5d0c
          format: uuid
          type: string
        id:
          description: UUID of the tag
          example: 265f6d30-a0bb-11ed-aee0-89fe7e5f5d0c
          format: uuid
          type: string
        isReserved:
          description: Used by Venafi to reserve system tags
          example: false
          type: boolean
        key:
          description: Same as tag name, though all lowercase
          example: application
          type: string
        name:
          description: Name of the tag
          example: Application
          type: string
      type: object
    TagsAssignmentAggregatesRequest:
      properties:
        entityType:
          description: Object type that the tag applies to. If null, get all object types
          enum:
          - CERTIFICATE
          - CERTIFICATE_INSTANCE
          - APPLICATION
          example: CERTIFICATE
          type: string
        tags:
          description: Array of tags
          example:
          - TAG
          - Tag:Value
          items:
            description: Array of tags
            example: '["TAG","Tag:Value"]'
            type: string
          maxItems: 100
          type: array
          uniqueItems: true
      required:
      - tags
      type: object
    TagResponse:
      properties:
        count:
          description: Number of tags returned
          example: 7
          format: int32
          type: integer
        tags:
          items:
            $ref: '#/components/schemas/TagInformation'
          type: array
      type: object
    TagsAssignRequest:
      properties:
        action:
          description: Action to perform
          enum:
          - REPLACE
          - ADD
          - DELETE
          - DELETE_ALL
          example: REPLACE
          type: string
        entityIds:
          description: Array of UUIDs of the objects
          example:
          - 265f6d30-a0bb-11ed-aee0-89fe7e5f5d0c
          items:
            description: Array of UUIDs of the objects
            format: uuid
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        entityType:
          description: Object type that the tag applies to
          enum:
          - CERTIFICATE
          - CERTIFICATE_INSTANCE
          - APPLICATION
          example: CERTIFICATE
          type: string
        targetedTags:
          description: Array of tags to apply
          example:
          - 265f6d30-a0bb-11ed-aee0-89fe7e5f5d0c
          items:
            description: Array of tags to apply
            example: '["265f6d30-a0bb-11ed-aee0-89fe7e5f5d0c"]'
            type: string
          type: array
          uniqueItems: true
      required:
      - entityIds
      type: object
    ErrorResponse7:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorInformation5'
          type: array
      type: object
    TagsAssignmentAggregatesResponseInformation:
      description: Represents a mapping of tag name to list of aggregates information
      example:
        TagNew:
        - count: 2
          entityType: CERTIFICATE
        - count: 5
          entityType: APPLICATION
        tag:value:
        - count: 6
          entityType: CERTIFICATE
        - count: 1
          entityType: APPLICATION
      properties:
        count:
          description: Number of entities per type
          example: 2
          format: int32
          type: integer
        entityType:
          description: Object type that the tag applies to
          example: CERTIFICATE
          type: string
      type: object
    TagsBulkRequest:
      properties:
        tags:
          description: Array of tag and tag-value objects
          items:
            $ref: '#/components/schemas/TagRequest'
          type: array
      type: object
    TagsAssignResponseInformation:
      properties:
        companyId:
          description: UUID specific to your company
          example: 265f6d30-a0bb-11ed-aee0-89fe7e5f5d0c
          format: uuid
          type: string
        creationDate:
          description: The date when the assignment is created
          example: '2023-01-30T16:28:53.166Z'
          format: date-time
          type: string
        entityId:
          description: UUID of the object
          example: 265f6d30-a0bb-11ed-aee0-89fe7e5f5d0c
          format: uuid
          type: string
        entityType:
          description: Object type that the tag applies to
          example: CERTIFICATE
          type: string
        errorInformation:
          $ref: '#/components/schemas/TagAssignmentErrorInformation'
        modificationDate:
          description: The date when the assignment is last modified
          example: '2023-01-30T16:28:53.166Z'
          format: date-time
          type: string
        status:
          description: Status of the assigned entity
          example: ASSIGNED
          type: string
        tags:
          description: The tags that are assigned
          example:
          - Application:TLS
          items:
            description: The tags that are assigned
            example: '["Application:TLS"]'
            type: string
          type: array
          uniqueItems: true
      type: object
    TagAssignmentErrorInformation:
      description: Error information for tags not assigned
      example:
        errorInformation:
          message: not assigned
          statusCode: 1111
      properties:
        args:
          items:
            $ref: '#/components/schemas/AnyValue5'
          type: array
        message:
          type: string
        statusCode:
          format: int32
          type: integer
      type: object
    TagValuesRequest:
      properties:
        values:
          description: Array of value names to associate with the tag
          example: 265f6d30-a0bb-11ed-aee0-89fe7e5f5d0c
          items:
            description: Array of value names to associate with the tag
            example: 265f6d30-a0bb-11ed-aee0-89fe7e5f5d0c
            type: string
          minItems: 1
          type: array
      required:
      - values
      type: object
    ErrorInformation5:
      properties:
        args:
          items:
            $ref: '#/components/schemas/AnyValue5'
          type: array
        code:
          format: int32
          type: integer
        message:
          type: string
      type: object
    TagsAssignResponse:
      properties:
        tagsAssignInformation:
          items:
            $ref: '#/components/schemas/TagsAssignResponseInformation'
          type: array
      type: object
    TagsAndValuesInformation:
      properties:
        tag:
          $ref: '#/components/schemas/TagInformation'
        values:
          items:
            $ref: '#/components/schemas/TagValueInformation'
          type: array
      type: object
    TagsAssignmentAggregatesResponse:
      properties:
        aggregates:
          additionalProperties:
            description: Represents a mapping of tag name to list of aggregates information
            example:
              TagNew:
              - count: 2
                entityType: CERTIFICATE
              - count: 5
                entityType: APPLICATION
              tag:value:
              - count: 6
                entityType: CERTIFICATE
              - count: 1
                entityType: APPLICATION
            items:
              $ref: '#/components/schemas/TagsAssignmentAggregatesResponseInformation'
            type: array
          description: Represents a mapping of tag name to list of aggregates information
          example:
            TagNew:
            - count: 2
              entityType: CERTIFICATE
            - count: 5
              entityType: APPLICATION
            tag:value:
            - count: 6
              entityType: CERTIFICATE
            - count: 1
              entityType: APPLICATION
          type: object
      type: object
    TagValuesResponse:
      properties:
        count:
          description: Number of values returned
          example: 7
          format: int32
          type: integer
        values:
          items:
            $ref: '#/components/schemas/TagValueInformation'
          type: array
      type: object
    TagValueInformation:
      properties:
        companyId:
          description: UUID specific to your company
          example: 265f6d30-a0bb-11ed-aee0-89fe7e5f5d0c
          format: uuid
          type: string
        id:
          description: The ID of the value
          example: 265f6d30-a0bb-11ed-aee0-89fe7e5f5d0c
          format: uuid
          type: string
        tagId:
          description: The ID of the tag the value applies to
          example: 265f6d30-a0bb-11ed-aee0-89fe7e5f5d0c
          format: uuid
          type: string
        value:
          description: Name of the value
          example: TLS Protect
          type: string
      type: object
  securitySchemes:
    service-account:
      in: header
      name: service-account
      type: apiKey
    tppl-api-key:
      in: header
      name: tppl-api-key
      type: apiKey
x-readme:
  samples-languages:
  - curl
  - go
  - java
  - javascript
  - node
  - python
